.theme-dark {
  color: rgb(165, 165, 165);
  --q-primary: #104a85;
  --q-warning: #b7922e;
}

.theme-dark.app-themed {
  color: rgb(165, 165, 165);
  background-color: black;
  background-image: url('./background.jpg');
  background-size: cover;
  background-position: center;
}

.theme-dark .menu-themed {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7px);
}

.theme-dark .center-themed {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7px);
}

.theme-dark .toolbar-themed {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7px);
}

.theme-dark .actionbar-themed {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7px);
}

.theme-dark {
  background-color: rgba(0, 0, 0, 0.2);
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 10px;
}

.theme-dark .q-item__label {
  color: rgba(255, 255, 255, 0.6);
}

.theme-dark .q-field__label {
  color: rgba(255, 255, 255, 0.6);
}

.theme-dark .q-field__messages {
  color: rgba(255, 255, 255, 0.363);
}

.theme-dark .q-field__native {
  color: rgba(255, 255, 255, 0.822);
}

.theme-default .q-table__card {
  background-color: unset;
}

.theme-dark .card-menu-themed {
  background-color: rgba(0, 0, 0, 0.5);
}

.theme-dark .q-menu {
  background-color: rgba(255, 255, 255, 0.205);
}

.theme-dark .q-table__card {
  background-color: unset;
}