<template>
  <q-item v-if="window.hidden === undefined || window.hidden === false" active-class="bg-teal text-blue-grey-10"
    clickable v-ripple :active="props.activeWindowId === props.window.ID" @click="windowSwitchClicked(props.window)">
    <q-item-section avatar>
      <q-icon :name="props.window.icon" color="primary" width="30px" />
    </q-item-section>

    <q-item-section>
      <q-item-label>{{ props.window.displayName }}</q-item-label>
      <q-item-label caption lines="1">{{ props.window.subtitle }}</q-item-label>
    </q-item-section>

    <q-item-section side>
      <q-btn v-if="props.window.closable" round color="deep-orange" size="sm" @click="windowCloseClicked(props.window)">
        <q-icon :name="fasXmark" color="black" width="20px" />
      </q-btn>
    </q-item-section>
  </q-item>
</template>

<script lang="ts" setup>
import { onMounted, type PropType } from 'vue'
import { fasXmark } from '@quasar/extras/fontawesome-v6'
import { useRouter } from 'vue-router'
import api from '@/api'
import type { DynWindow } from '@/api/windows'
import { useFontAwesome } from '../icons/useFontAwesome'

const props = defineProps({
  /** Mark the window as active */
  activeWindowId: {
    type: String,
    required: false
  },
  window: {
    type: Object as PropType<DynWindow>,
    required: true
  }
})

const router = useRouter()

// ##################### icon #####################
const { GetIcon } = useFontAwesome()
onMounted(() => {
  if (props.window.icon?.startsWith('fa')) {
    props.window.icon = GetIcon(props.window.icon)
  }
})

// ##################### switch #####################
async function windowSwitchClicked(windows: DynWindow) {
  api.windows.SetWindowActive(windows.ID)
}

// ##################### close #####################
async function windowCloseClicked(clickedWindow: DynWindow) {
  api.windows.Close(clickedWindow.ID)
}


</script>
