<template>
  <div v-for="window of windowStore.windows" :key="window.ID">
    <q-list>
      <q-expansion-item v-if="window.childs !== undefined && window.hidden === undefined" expand-separator
        default-opened :icon="fasLayerGroup" :expand-icon="fasChevronDown" :label="window.displayName">
        <q-list class="q-pl-sm">
          <dyndb-windows-menu-item v-for="(childWindow, index) of window.childs" :key="index" :window="childWindow"
            :active-window-id="windowStore.windowActive?.ID">
          </dyndb-windows-menu-item>
        </q-list>
      </q-expansion-item>
    </q-list>
  </div>
</template>

<script lang="ts" setup>
import { fasLayerGroup, fasChevronDown } from '@quasar/extras/fontawesome-v6'

import dyndbWindowsMenuItem from './WindowsMenuItem.vue'

import { useWindowStore } from '@/stores/windows'
import { type RouteLocationNormalizedLoaded, useRoute } from 'vue-router'
import { watch } from 'vue'
import api from '@/api'
import router from '@/router'

const route = useRoute()
watch(route, (value: RouteLocationNormalizedLoaded) => {
  api.windows.SetWindowActive(route.path)
})

const windowStore = useWindowStore()

windowStore.$subscribe(async () => {

  const window = windowStore.windowActive
  if (window !== undefined) {

    let windowURI = undefined as string | undefined

    if (typeof window.uri === 'string') {
      windowURI = window.uri
    }
    if (typeof window.uri === 'function') {
      windowURI = await window.uri()
      if (windowURI === '') {
        windowURI = '/'
      }
    }

    if (windowURI !== undefined) {
      router.push(windowURI)
    }

  }

})

</script>
