<template>
  <div class="cards">
    <dyndb-theme />
    <dyndb-pagesize />
    <dyndb-version-info />

    <dyndb-config-token />
    <!-- <dyndb-sse /> -->
  </div>
</template>

<script lang="ts" setup>
import { useButtonbarStore } from '@/stores/buttonbar'
import { onMounted } from 'vue'

// components
import dyndbPagesize from './pagesize.vue'
import dyndbConfigToken from './dyndb-config-tokens.vue'
import dyndbTheme from './theme.vue'
import dyndbSse from './sse.vue'
import dyndbVersionInfo from './versioninfo.vue'

onMounted(() => {
  const buttonbarStore = useButtonbarStore()
})
</script>
