<template>
  <div class="configcard">
    <q-card-section class="q-pt-xs">
      <div class="text-h5">Token</div>
    </q-card-section>

    <q-card-section class="q-pt-xs">
      <span style="
          display: grid;
          grid-auto-rows: auto;
          grid-template-columns: 40px 1fr;
          align-items: center;
        ">
        <q-icon size="md" :name="fasClock" />
        <span>Zugriffstoken</span>
        <span></span>
        <span>{{ AccessTokenExpires }}</span>

        <!-- <q-icon v-if="RefreshTokenSendWithNextRequest" size="md" :name="fasSquareCheck" />-->
        <q-icon size="md" :name="fasCalendar" />
        <span>Refreshtoken</span>
        <span></span>
        <span>{{ RefreshTokenExpires }}</span>

        <span></span>
        <span><q-btn :icon="fasArrowsSpin" label="Refresh" no-caps @click="onRefresh" /></span>
      </span>
    </q-card-section>
  </div>
</template>

<script lang="ts" setup>
import { fasClock, fasCalendar, fasArrowsSpin } from '@quasar/extras/fontawesome-v6'

import { type TokenStore, useTokenStore } from '@/stores/tokens'
import { type SubscriptionCallbackMutation } from 'pinia'
import { onMounted, ref } from 'vue'
import api from '@/api'

var tokenStore = useTokenStore()

const AccessTokenExpires = ref({} as Date | undefined)
const RefreshTokenExpires = ref({} as Date | undefined)

onMounted(async () => {
  AccessTokenExpires.value = await api.tokenHandler.AccessTokenExpire()
  RefreshTokenExpires.value = await api.tokenHandler.RefreshTokenExpire()
})
tokenStore.$subscribe(
  async (mutation: SubscriptionCallbackMutation<TokenStore>, state: TokenStore) => {
    AccessTokenExpires.value = await api.tokenHandler.AccessTokenExpire()
    RefreshTokenExpires.value = await api.tokenHandler.RefreshTokenExpire()
  }
)

function onRefresh() {
  api.auth.FetchUserInfo()
}
</script>
