<template>
  <div class="configcard">
    <q-card-section class="q-pt-xs">
      <div class="text-h5 q-mt-sm q-mb-xs">Paging</div>
    </q-card-section>

    <q-card-section>
      Seitengröße
      <div class="q-gutter-sm">
        <q-btn-toggle v-model="pageSize" push toggle-color="primary" :options="[
          { label: '5', value: 5 },
          { label: '10', value: 10 },
          { label: '25', value: 25 },
          { label: '50', value: 50 }
        ]" />
      </div>
    </q-card-section>
  </div>
</template>

<script lang="ts" setup>
import { onMounted, ref, watch } from 'vue'

import { useConfigStore } from '@/stores/config'
const configStore = useConfigStore()

const pageSize = ref(5)

onMounted(() => {
  pageSize.value = configStore.pageSize
})
watch(pageSize, (changed: number) => {
  configStore.SetPageSize(changed)
})
</script>
