<template>
  <div class="configcard">
    <q-card-section class="q-pt-xs">
      <div class="text-h5 q-mt-sm q-mb-xs">SSE</div>
    </q-card-section>

    <q-card-section>
      <!-- connected -->
      <q-chip v-if="sseConnected" square outline color="green" :icon="fasSquareCheck">
        SSE: Connected
      </q-chip>
      <q-btn v-if="sseConnected" class="q-mx-sm" color="deep-orange" label="Disconnect" @click="doSSEDisconnect" />

      <!-- not connected -->
      <q-chip v-else square outline color="red" :icon="fasSquareCheck"> SSE: Disconnected </q-chip>
      <q-btn v-if="!sseConnected" class="q-mx-sm" color="secondary" label="Connect" @click="doSSEConnect" />
    </q-card-section>
  </div>
</template>

<script lang="ts" setup>
import { fasSquareCheck } from '@quasar/extras/fontawesome-v6'
import { ref, onMounted } from 'vue'
import $sse from '@/api/sse'
import { type MessagingStore, useMessagingStore } from '@/stores/messaging'
import { type SubscriptionCallbackMutation } from 'pinia'

const messagingStore = useMessagingStore()

const sseConnected = ref(false)
onMounted(() => {
  sseConnected.value = messagingStore.$state.connected
})
messagingStore.$subscribe(
  (mutation: SubscriptionCallbackMutation<MessagingStore>, state: MessagingStore) => {
    sseConnected.value = state.connected
  }
)

function doSSEConnect() {
  $sse.Connect()
}
function doSSEDisconnect() {
  $sse.Disconnect()
}
</script>
