<template>
  <div class="configcard">
    <q-card-section class="q-pt-xs">
      <div class="text-h5 q-mt-sm q-mb-xs">Theme</div>
    </q-card-section>

    <div class="q-gutter-sm">
      <q-radio v-model="themeSelected" val="default" label="Default" />
      <q-radio v-model="themeSelected" val="dark" label="Dark" />
    </div>
  </div>
</template>

<script lang="ts" setup>
import { ref, watch } from 'vue'
import { useConfigStore } from '@/stores/config'
const configStore = useConfigStore()

const themeSelected = ref(configStore.$state.themeName)
watch(themeSelected, (value: string) => {
  configStore.SetTheme(value)
})
</script>
