<template>
  <div class="configcard">
    <q-card-section class="q-pt-xs">
      <div class="text-h5 q-mt-sm q-mb-xs">Versioninformation</div>
    </q-card-section>

    <q-card-section>
      <q-chip square outline :icon="fasCodeBranch">Version: {{ currentVersion }}</q-chip>
    </q-card-section>
  </div>
</template>

<script lang="ts" setup>
import { fasCodeBranch } from '@quasar/extras/fontawesome-v6'
import { version } from '@/api/version'

const currentVersion = version
</script>
