<template>
  <!-- Overlayed windows -->
  <div v-if="current.window !== undefined" class="stacked window" style="z-index: 50">
    <div class="window">
      <span class="title">
        <span class="text-h6 text-left">{{ current.window.displayName }}</span>

      </span>
      <span class="content">
        <component :is="GetNativeComponent(current.window.component)" v-bind="current.window.componentParameter">
        </component>
      </span>
    </div>
  </div>


</template>

<script lang="ts" setup>
import { reactive, ref } from 'vue'
import type { SubscriptionCallbackMutation } from 'pinia'
import { fasXmark } from '@quasar/extras/fontawesome-v6'
import type { DynWindow } from '@/api/windows';
import { useWindowStore, type WindowsStore } from '@/stores/windows';
import { GetNativeComponent } from '@/api/globalComponents';

const windowStore = useWindowStore()


var current = reactive({
  window: undefined as undefined | DynWindow,
})



windowStore.$subscribe(
  (mutation: SubscriptionCallbackMutation<WindowsStore>, state: WindowsStore) => {

    // unloading
    current.window = undefined

    if (windowStore.windowActive?.uri === undefined) {
      current.window = windowStore.windowActive

      return
    } else {
      if (windowStore.windowActive?.uri === "") {
        current.window = windowStore.windowActive
        return
      }
    }


  }
)

function CloseWindow(window: DynWindow) {
  windowStore.RemoveWindow(window.ID)
}
</script>
