<template>
  <div :id="type" :class="[
    type,
    layoutStore.$state.menuVisible === false ? 'menu-closed' : 'menu-opened',
    expandActionsVisible === true ? 'mobile-opened' : ''
  ]" v-if="buttons.length > 0">
    <div class="leftbar">
      <div v-for="(btn, index) of buttons" :key="index" :style="{
        'grid-column-end': 'span ' + btn.columns,
        width: 'min-content'
      }">
        <!--  'justify-self': btn.position === 'left' ? 'start' : 'end',-->

        <q-btn v-if="btn.componentName === undefined && btn.position === 'left'" :style="btn.style" :color="btn.color"
          :icon="btn.icon" :label="btn.displayText" :disable="IsDisabled(btn)" @click="Clicked(btn)" />

        <component v-if="btn.componentName !== undefined && btn.position === 'left'"
          :is="GetNativeComponent(btn.componentName)" v-bind="btn.componentProps">
        </component>
      </div>
    </div>

    <div class="rightbar">
      <div v-for="(btn, index) of buttons" :key="index" :style="{
        'grid-column-end': 'span ' + btn.columns,
        width: 'min-content'
      }">
        <!--  'justify-self': btn.position === 'left' ? 'start' : 'end',-->

        <q-btn v-if="btn.componentName === undefined && btn.position === 'right'" :style="btn.style" :color="btn.color"
          :icon="btn.icon" :label="btn.displayText" :disable="IsDisabled(btn)" @click="Clicked(btn)" />

        <component v-if="btn.componentName !== undefined && btn.position === 'right'"
          :is="GetNativeComponent(btn.componentName)" v-bind="btn.componentProps">
        </component>
      </div>
    </div>
  </div>
</template>

<script lang="ts" setup>
import { fasBan } from '@quasar/extras/fontawesome-v6'
import { onMounted, ref, watch } from 'vue'
import { useButtonbarStore, type ButtonbarButton, ButtonbarStack } from '@/stores/buttonbar'
import { useRoute } from 'vue-router'
import { useLayoutStore } from '@/stores/layout'
import { useFontAwesome } from '../icons/useFontAwesome'
import { GetNativeComponent } from '@/api/globalComponents'

const layoutStore = useLayoutStore()
const buttonbarStore = useButtonbarStore()

// ########################### props ###########################

const props = defineProps({
  type: {
    type: String,
    require: false,
    default: 'actionbar'
  }
})

// ########################### dimensions ###########################

// ########################### expander ###########################

// ########################### buttons ###########################
const buttons = ref([] as ButtonbarButton[])
const expandActionsVisible = ref(undefined as undefined | boolean)
const { GetIcon } = useFontAwesome()

function ButtonsRefresh() {
  // get buttons only for this bar
  let filteredButtons = buttonbarStore.Current().filter((btn: ButtonbarButton) => {

    if (btn.icon === undefined) {
      btn.icon = 'fasLayerGroup'
    }

    if (btn.icon.startsWith('fa')) {
      btn.icon = GetIcon(btn.icon)
    }

    return btn.type === props.type
  })

  buttons.value = filteredButtons
}

buttonbarStore.$subscribe((mutation, state) => {
  ButtonsRefresh()
})
onMounted(() => {
  ButtonsRefresh()
})

// ########################### confirmation ###########################

async function Clicked(btn: ButtonbarButton | undefined) {
  if (btn === undefined) return

  if (btn.needConfirm === true) {
    const buttonBarStack = new ButtonbarStack('actionbar_confirm', undefined)

    // add the action button without confirm
    const realActionBtn = Object.assign({}, btn)
    realActionBtn.needConfirm = false
    buttonBarStack.AddButton(realActionBtn)

    // cancel Button
    let cancelButton = {
      id: btn.id + '.cancel',
      type: props.type as 'actionbar' | 'toolbar' | undefined,
      displayText: 'Cancel',
      icon: fasBan,
      color: 'primary',
      style: {
        width: '130px'
      },
      action() {
        buttonbarStore.CloseCurrent()
      }
    } as ButtonbarButton

    if (btn.position === 'left') {
      cancelButton.position = btn.position
    } else {
      cancelButton.position = btn.position
    }
    buttonBarStack.AddButton(cancelButton)

    buttonbarStore.AddStack(buttonBarStack)
  } else {
    if (btn.action !== undefined) btn.action()
  }
}

function IsDisabled(btn: ButtonbarButton | undefined) {
  if (btn === undefined) { return false }
  if (btn.enabled === undefined) { return false }

  if (typeof btn.enabled === 'boolean') {
    return !btn.enabled
  }

  if (typeof btn.enabled === 'function') {
    return !btn.enabled()
  }

  return false
}
</script>

<style scoped>
.leftbar {
  display: grid;
  grid-template-columns: repeat(auto-fit, min-conten);
  grid-template-rows: 1fr;
  grid-auto-rows: auto;
  grid-auto-flow: column;
  gap: 10px;

  justify-content: start;
}

.rightbar {
  display: grid;
  grid-template-columns: repeat(auto-fit, min-conten);
  grid-template-rows: 1fr;
  grid-auto-rows: auto;
  grid-auto-flow: column;
  gap: 10px;

  justify-content: end;
}
</style>
