<template>
  <div :class="[
    'app',
    'app-themed',
    'theme-' + configStore.themeName,

    layoutStore.$state.menuVisible === false ? 'menu-closed' : 'menu-opened',
    layoutStore.$state.menuVisible === false ? 'menu-closed-themed' : 'menu-opened-themed'
  ]">
    <dyndb-menu />
    <dyndb-buttonbar type="toolbar" />
    <!-- Main -->
    <dyndb-center />
    <dyndb-overlay />
    <dyndb-windows />

    <dyndb-buttonbar type="actionbar" />
    <dyndb-blade />
  </div>
</template>

<script lang="ts" setup>
// vue
import { onMounted } from 'vue'

// api
import api from '@/api'
import { type DynWindow } from '@/api/windows'

// components
import dyndbMenu from '@/components/dyndb/layout/dyndb-menu.vue'
import dyndbCenter from '@/components/dyndb/layout/dyndb-center.vue'
import dyndbOverlay from '@/components/dyndb/layout/dyndb-overlays.vue'
import dyndbWindows from '@/components/dyndb/layout/dyndb-window.vue'
import dyndbBlade from '@/components/dyndb/layout/dyndb-blade.vue'
import dyndbButtonbar from '@/components/dyndb/layout/dyndb-buttonbar.vue'

// composables
import { useLoginWindow } from '@/components/dyndb/login/useLoginWindow'
import { useTemplatesWindow } from '@/components/dyndb/templates/useTemplates'
import { useFieldsWindow } from '@/components/dyndb/fields/useFieldsWindow'
import { useConfigWindow } from '@/components/dyndb/config/useConfigWindow'
import { useNotifications } from '@/components/dyndb/notifications/useNotifications'
import { useMessaging } from '@/components/dyndb/messaging/useMessaging'
import { useTheme } from '@/components/dyndb/theme/useTheme'
import { useSearchWindow } from '@/components/dyndb/search/useSearchWindow'
import { useAttachmentsOverview } from '../attachments/useAttachmentsOverview'

// stores
import { useConfigStore } from '@/stores/config'
import { useLayoutStore } from '@/stores/layout'
import { useCollectorOverview } from '../collector'
import { useFontAwesome } from '../icons/useFontAwesome'
import { useDocumentEditor } from '../document/useDocumentEditor'
const configStore = useConfigStore()
const layoutStore = useLayoutStore()

// ########################### init ###########################

// prepare stuff
useTheme()
useNotifications()
useMessaging()

useFontAwesome()
useLoginWindow()
useConfigWindow()
useTemplatesWindow()
useFieldsWindow()
useSearchWindow()
useAttachmentsOverview()
useCollectorOverview()

// stuff that can be dynamic
useDocumentEditor()

onMounted(() => {
  api.windows.SetWindow('', {
    ID: 'overlayed',
    displayName: 'overlayed windows',
    hidden: true
  } as DynWindow)

  api.windows.SetWindow('', {
    ID: 'static',
    displayName: 'Common'
  } as DynWindow)

  api.windows.SetWindow('', {
    ID: 'dynamic',
    displayName: 'Open Editors'
  } as DynWindow)

  const appHeight = () => {
    const doc = document.documentElement
    doc.style.setProperty('--app-height', `${window.innerHeight}px`)
  }
  window.addEventListener('resize', appHeight)
  appHeight()
})
</script>
