<template>
  <div
    v-if="layoutStore.$state.rightBladeComponent !== undefined"
    :class="['sidebar', layoutStore.$state.rightBladeComponent === undefined ? 'closed' : 'opened']"
    :style="{
      'grid-column-start': bodyWidth > 400 ? '3' : '2',
      'grid-column-end': bodyWidth > 400 ? 'span 1' : 'span 2'
    }"
    id="rightbladecard"
  >
    <div v-if="layoutStore.$state.rightBladeComponent !== undefined" class="content">
      <q-btn
        :icon="fasXmark"
        style="position: relative; left: 0; top: 0; width: 50px"
        @click="Close"
      />
      <component
        :is="layoutStore.$state.rightBladeComponent.name"
        v-bind="layoutStore.$state.rightBladeComponent.props"
      >
      </component>
      <dyndb-buttonbar type="rightblade" />
    </div>
  </div>
</template>

<script lang="ts" setup>
// vue
import { fasXmark } from '@quasar/extras/fontawesome-v6'

// components
import dyndbButtonbar from '@/components/dyndb/layout/dyndb-buttonbar.vue'

// stores
import { useLayoutStore } from '@/stores/layout'

// composables
import { useBodyDimension, useElementDimension } from '../common/useBodyHeight'

// ########################### init ###########################

const { bodyWidth } = useBodyDimension()
const { elementHeight } = useElementDimension('rightbladecard')

const layoutStore = useLayoutStore()
function Close() {
  layoutStore.$state.rightBladeComponent = undefined
}
</script>
