<template>
  <!-- Overlayed windows -->
  <div v-if="overlayWindows.childs !== undefined" id="overlay" class="overlay" style="z-index: 100">
    <div class="window" v-for="window of overlayWindows.childs" :key="window.ID">
      <span class="title">
        <span class="text-h6 text-left">{{ window.displayName }}</span>
        <span>
          <q-btn v-if="window.closable" :icon="fasXmark" color="primary" @click="CloseWindow(window)" />
        </span>
      </span>
      <span class="content">
        <component :is="GetNativeComponent(window.component)" v-bind="window.componentParameter"></component>
      </span>
    </div>
  </div>


</template>

<script lang="ts" setup>
import { reactive } from 'vue'
import type { SubscriptionCallbackMutation } from 'pinia'
import { useWindowStore, type WindowsStore } from '@/stores/windows'
import type { DynWindow } from '@/api/windows'
import { fasXmark } from '@quasar/extras/fontawesome-v6'
import { GetNativeComponent } from '@/api/globalComponents'

const windowStore = useWindowStore()

var overlayWindows = reactive({
  childs: undefined
} as DynWindow)

windowStore.$subscribe(
  (mutation: SubscriptionCallbackMutation<WindowsStore>, state: WindowsStore) => {
    let currentOverlayedWindow = windowStore.FindWindow('overlayed')
    if (currentOverlayedWindow?.childs !== undefined) {
      if (Object.keys(currentOverlayedWindow?.childs).length > 0) {
        overlayWindows.childs = currentOverlayedWindow.childs
      } else {
        overlayWindows.childs = undefined
      }
    } else {
      overlayWindows.childs = undefined
    }
  }
)

function CloseWindow(window: DynWindow) {
  windowStore.RemoveWindow(window.ID)
}
</script>
