<template>
  <q-btn v-if="!layoutStore.$state.menuVisible" :icon="fasBars" color="none" class="menu" @click="ToggleMenu" />

  <div class="menu" :style="{
    display: layoutStore.$state.menuVisible === true ? 'block' : 'none'
  }">
    <q-card-section>
      <q-btn :icon="fasXmark" color="none" style="position: absolute; right: 0; top: 0" @click="ToggleMenu" />

      <div class="text-h6">DynDB</div>
    </q-card-section>

    <q-tabs class="text-black" v-model="selectedTabEntry">
      <q-tab name="dyndb-windows-menu" :icon="fasLinesLeaning" label="Stacked" />
      <!-- <q-tab name="alarms" :icon="fasFolderTree" label="Outliner" /> -->
    </q-tabs>
    <KeepAlive>
      <component :is="GetNativeComponent(selectedTabEntry)" />
    </KeepAlive>
  </div>
</template>

<script lang="ts" setup>
import { useLayoutStore } from '@/stores/layout'
import { fasBars, fasFolderTree, fasLinesLeaning, fasXmark } from '@quasar/extras/fontawesome-v6'

// components
import DyndbWindowsMenu from '@/components/dyndb/windows/WindowsMenu.vue'
RegisterNativeComponent('dyndb-windows-menu', DyndbWindowsMenu)

import { RegisterNativeComponent, GetNativeComponent } from '@/api/globalComponents';
import { ref } from 'vue';



const layoutStore = useLayoutStore()

function ToggleMenu() {
  layoutStore.$state.menuVisible = !layoutStore.$state.menuVisible
}


const selectedTabEntry = ref('dyndb-windows-menu' as string | undefined)


</script>
