<template>
  <q-input square filled stack-label v-model="current.value" type="text" :label="props.common?.label"
    :hint="props.common?.hint" :error="!isVAlid" :error-message="props.common?.invalidMessage"></q-input>
</template>

<script lang="ts" setup>
import {
  computed,
  onMounted,
  reactive,
  watch,
  type PropType,
} from "vue";
import { type FieldProp } from "./useFieldComponents";

const props = defineProps({
  modelValue: {
    type: String,
    required: true,
    default: "",
  },
  common: {
    type: Object as PropType<FieldProp>,
    required: false,
  },
});

const emit = defineEmits(["update:modelValue"]);

// ###################### modelValue ######################

const current = reactive({
  value: "",
});

onMounted(() => {
  if (props.modelValue === undefined) return
  current.value = props.modelValue
});

watch(
  () => props.modelValue,
  (changedValue) => {
    if (changedValue === undefined) { current.value = ""; return }

    current.value = changedValue
  }
);

// ###################### edit ######################
watch(
  () => current.value,
  (changedValue) => {
    emit("update:modelValue", changedValue);
  }
);

// validate
const isVAlid = computed(() => {
  if (props.common?.validationFunction === undefined) return true;
  return props.common?.validationFunction
});


</script>