<template>
  <div class="col">
    <q-select filled stack-label v-model="current.value" :options="types" :label="props.common?.label"
      :hint="props.common?.hint" :dropdown-icon="fasArrowDown" :error="!isVAlid"
      :error-message="props.common?.invalidMessage"></q-select>
  </div>
</template>

<script lang="ts" setup>
import { type PropType, computed, onMounted, reactive, watch } from 'vue'
import { fasArrowDown } from '@quasar/extras/fontawesome-v6'
import { type FieldProp } from "./useFieldComponents";

const props = defineProps({
  modelValue: {
    type: String,
    required: true,
    default: ''
  },
  common: {
    type: Object as PropType<FieldProp>,
    required: false
  }
})

const emit = defineEmits(['update:modelValue', 'removeField'])

const current = reactive({
  value: ''
})

onMounted(() => {
  if (props.modelValue === undefined) return
  current.value = props.modelValue
})
watch(
  () => props.modelValue,
  (changedValue) => {
    if (changedValue === undefined) return
    current.value = changedValue
  }
)

let types = reactive([
  {
    label: 'String',
    value: 'string'
  },
  {
    label: 'Integer',
    value: 'integer'
  },
  {
    label: 'Float',
    value: 'float'
  },
  {
    label: 'Bool',
    value: 'bool'
  },
  {
    label: 'Date',
    value: 'date'
  },
  {
    label: 'Fontawesome Icon',
    value: 'faicon'
  },

])

// data for field
watch(
  () => current.value,
  (changed: any | undefined) => {
    if (changed === undefined) return
    if (changed.value === undefined) return

    emit('update:modelValue', changed.value)
  }
)

// validate
const isVAlid = computed(() => {
  if (props.common?.validationFunction === undefined) return true
  return props.common?.validationFunction
})
</script>
./useFieldComponents