<template>
  <q-input square filled stack-label v-model="current.value" type="date" :label="props.common?.label"
    :hint="props.common?.hint"></q-input>
</template>

<script lang="ts" setup>
import {
  type PropType,
  onMounted,
  reactive,
  watch,
} from "vue";
import { type FieldProp } from "./useFieldComponents";



const props = defineProps({
  modelValue: {
    type: String,
    required: true,
    default: new Date().toDateString(),
  },
  common: {
    type: Object as PropType<FieldProp>,
    required: false,
  },
});

const emit = defineEmits(["update:modelValue"]);

// ###################### modelValue ######################

const current = reactive({
  value: new Date().toDateString(),
});

onMounted(() => {
  current.value = props.modelValue
});
watch(() => props.modelValue, (changedValue) => {
  current.value = changedValue
});

// ###################### edit ######################
watch(() => current.value, (changedValue) => {
  emit("update:modelValue", changedValue);
});


</script>




./useFieldComponents