<template>
    <q-select filled stack-label v-model="current.value" :options="icons" label="icon" hint=""
        :dropdown-icon="fasArrowDown" use-input @filter="filterFn">

        <template v-slot:option="scope">
            <q-item v-bind="scope.itemProps">
                <q-item-section avatar>
                    <q-icon :name="scope.opt.value" />
                </q-item-section>
                <q-item-section>
                    <q-item-label>{{ scope.opt.label }}</q-item-label>
                </q-item-section>
            </q-item>
        </template>


        <template v-slot:prepend>
            <q-icon :name="currentIcon" />
        </template>

        <template v-slot:append>
            <q-icon :name="fasXmark" @click.stop.prevent="current.value = { label: '', value: '' }" />
        </template>

    </q-select>

</template>

<script lang="ts" setup>
import { fasArrowDown, fasCross, fasX, fasXmark } from '@quasar/extras/fontawesome-v6';
import type { QSelect } from 'quasar';
import { type PropType, onMounted, reactive, ref, watch } from 'vue';
import { type FieldProp } from "./useFieldComponents";


interface faIcon {
    label: string,
    value: string
}

const props = defineProps({
    modelValue: {
        type: String,
        required: true,
        default: "",
    },
    common: {
        type: Object as PropType<FieldProp>,
        required: false,
    },
});

const emit = defineEmits(["update:modelValue"]);

const icons = ref([] as faIcon[])

const current = reactive({
    value: {} as faIcon
})


// current icon indicator
const currentIcon = ref(undefined as undefined | string)
watch(() => current.value, async (value: any) => {
    currentIcon.value = current.value.value
})

// text if icon
onMounted(async () => {
    filterByName('')
    var fontawesome = (await import('@quasar/extras/fontawesome-v6')) as unknown as Record<string, string>

    current.value = { label: props.modelValue, value: fontawesome[props.modelValue] }
})



async function filterByName(needle: string) {
    var fontawesome = (await import('@quasar/extras/fontawesome-v6')) as unknown as Record<string, string>

    // init
    if (needle === '') {
        let iconNames = Object.keys(fontawesome)

        let newIconsList = [] as any[]
        for (let iconName of iconNames) {
            newIconsList.push({
                label: iconName,
                value: fontawesome[iconName]
            })
        }

        icons.value = newIconsList
        return
    }

    let newIconsList = [] as any[]
    for (let fieldInList of icons.value) {
        if (fieldInList.label.toLocaleLowerCase().includes(needle)) {
            newIconsList.push(fieldInList)
        }
    }
    icons.value = newIconsList
}

function filterFn(
    val: string,
    doneFn: (callbackFn: () => void, afterFn?: (ref: QSelect) => void) => void
) {
    if (val === '') {
        doneFn(() => {
            filterByName('')
        })
        return
    }

    doneFn(() => {
        const needle = val.toLowerCase()
        filterByName(needle)
    })
}

// ###################### edit ######################
watch(
    () => current.value,
    (changedValue: faIcon) => {
        emit("update:modelValue", changedValue.label);
    }
);

</script>
