<template>
  <div v-for="(layoutEntry, index) in documentLayout" :key="index" class="fieldseditorgrid" :style="{
    position: 'relative',
    display: 'grid',
    'grid-column-start': layoutEntry.x !== 0 ? `${layoutEntry.x}` : undefined,
    'grid-column-end': layoutEntry.colspan !== 0 ? `span ${layoutEntry.colspan}` : undefined,
    'grid-row-start': layoutEntry.y !== 0 ? `${layoutEntry.y}` : undefined,
    'grid-row-end': layoutEntry.rowspan !== 0 ? `span ${layoutEntry.rowspan}` : undefined
  }">


    <div v-if="mode === 'view' || mode === 'delete'" class="field view">
      <span class="text-caption">{{ layoutEntry.field.displayText }}</span>
      <span class="text-body1">{{ document[layoutEntry.field.fieldName] }}</span>
    </div>

    <div v-if="mode === 'edit'" class="field view">

      <component :is="'dyndb-field-'+layoutEntry.field.datatype" :common="{
    id: layoutEntry.field.fieldName,
    label: layoutEntry.field.displayText,
    hint: layoutEntry.field.hint,
  }" v-model="doc[layoutEntry.field.fieldName]" />

    </div>

    <div v-if="mode === 'layout'" class="field layout">
      <span class="text-caption">{{ layoutEntry.field.displayText }}</span>
      <q-btn square color="primary" :icon="fasPencil" @click="onEditLayout(layoutEntry)"
        style="width: 50px;justify-self: end;" />
    </div>


  </div>


  <dyndb-field-add v-if="mode === 'layout'" :layout="documentLayout" />


</template>

<script lang="ts" setup>
// vue
import { onMounted, reactive, watch, type PropType, ref } from 'vue'
import { useRouter, useRoute } from 'vue-router'

// api
import type { JSONSingleDoc } from '@/api/document'
import type { LayoutEntry } from './layoutEntry'

// components
import DyndbLayoutentryEdit from './dyndb-layoutentry-edit.vue'
import DyndbFieldAdd from './dyndb-field-add.vue'
// stores

// composables
import { useFieldComponents } from './useFieldComponents'
import { fasPencil, fasPlus, fasUser } from '@quasar/extras/fontawesome-v6'
import { fasPlusSquare } from '@quasar/extras/fontawesome-v5'
import api from '@/api'
import type { DynWindow } from '@/api/windows'

// ########################### props ###########################
const props = defineProps({
  /**
   * v-model:doc
   *
   * the document
   */
  doc: {
    type: Object as PropType<JSONSingleDoc>,
    required: false,
    default: {} as JSONSingleDoc
  },

  /**
   * v-model:layout
   *
   * layout of the document
   */
  layout: {
    type: Array<LayoutEntry>,
    required: true,
    default: []
  },

  mode: {
    type: String,
    required: false,
    default: "view"
  }
})

const emit = defineEmits(['update:layout'])



// ########################### init ###########################
const router = useRouter()
const route = useRoute()

useFieldComponents()

// ########################### layout ###########################
const documentLayout = ref(props.layout)
watch(
  () => props.layout,
  (newLayout: LayoutEntry[]) => {
    documentLayout.value = newLayout
  }
)

function onEditLayout(entry: LayoutEntry) {

  api.windows.SetWindow('overlayed', {
    ID: entry.field.fieldName + '_layout_edit',
    icon: fasUser,
    displayName: entry.field.fieldName,
    closable: true,

    component: DyndbLayoutentryEdit,
    componentParameter: {
      modelValue: entry,
    },
  } as DynWindow)
}

// ########################### doc ###########################
const document = ref(props.doc)
watch(
  () => props.doc,
  (newDoc: JSONSingleDoc) => {
    document.value = newDoc
  }
)


</script>

<style scoped>
.fieldseditorgrid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  grid-auto-flow: row;
}
</style>
./useFieldComponents