<template>
  <q-input square filled stack-label v-model="current.value" type="number" :label="props.common?.label"
    :hint="props.common?.hint"></q-input>
</template>

<script lang="ts" setup>
import {
  type PropType,
  onMounted,
  reactive,
  watch,
} from "vue";
import { type FieldProp } from "./useFieldComponents";


const props = defineProps({
  modelValue: {
    type: Number,
    required: true,
    default: 0.0,
  },
  common: {
    type: Object as PropType<FieldProp>,
    required: false,
  },
});

const emit = defineEmits(["update:modelValue"]);

// ###################### modelValue ######################

const current = reactive({
  value: 0.0,
});

onMounted(() => {
  if (typeof props.modelValue === 'string') {
    current.value = Number(props.modelValue)
  } else {
    current.value = props.modelValue
  }
});
watch(
  () => props.modelValue,
  (changedValue) => {
    if (typeof changedValue === 'string') {
      current.value = Number(changedValue)
    } else {
      current.value = changedValue
    }
  }
);

// ###################### edit ######################
watch(
  () => current.value,
  (changedValue) => {
    emit("update:modelValue", changedValue);
  }
);


</script>




./useFieldComponents