<template>
    <q-input square filled stack-label v-model="current.value.x" type="number" label="X"></q-input>
    <q-input square filled stack-label v-model="current.value.y" type="number" label="Y"></q-input>
    <q-input square filled stack-label v-model="current.value.colspan" type="number" label="Columns"></q-input>
    <q-input square filled stack-label v-model="current.value.rowspan" type="number" label="Rows"></q-input>

</template>

<script lang="ts" setup>
import {
    computed,
    onMounted,
    reactive,
    watch,
    type PropType,
} from "vue";
import { type FieldProp } from "./useFieldComponents";
import type { LayoutEntry } from './layoutEntry'

const props = defineProps({
    modelValue: {
        type: Object as PropType<LayoutEntry>,
        required: true,
        default: "",
    },

});

const emit = defineEmits(["update:modelValue"]);

// ###################### modelValue ######################

const current = reactive({
    value: {} as LayoutEntry,
});

function PropsLoad(changedValue: LayoutEntry | undefined) {
    if (props.modelValue === undefined) return
    current.value = props.modelValue

    if (current.value.x === undefined) current.value.x = 0
    if (current.value.y === undefined) current.value.y = 0
    if (current.value.colspan === undefined) current.value.colspan = 0
    if (current.value.rowspan === undefined) current.value.rowspan = 0

}

onMounted(() => {
    PropsLoad(props.modelValue)
});

watch(
    () => props.modelValue,
    (changedValue) => {
        PropsLoad(changedValue)
    }
);

// ###################### edit ######################



</script>