<template>
    <div class="fieldsgrid">
        <component :is="`dyndb-field-${props.datatype}`" :common="{
            label: props.label,
            hint: props.hint,
        }" v-model="currentValue"></component>
    </div>
</template>

<script lang="ts" setup>
// vue
import { type PropType, onMounted, reactive, ref, watch, onUnmounted, type Ref } from 'vue'
import { useRoute, useRouter } from 'vue-router'

// stores
import { ButtonbarStack, useButtonbarStore } from '@/stores/buttonbar'

// components
import { useFieldComponents } from './useFieldComponents';
useFieldComponents()

const props = defineProps({
    datatype: {
        type: String,
        required: false,
        default: "string"
    },
    label: {
        type: String,
        required: false,
        default: ""
    },
    hint: {
        type: String,
        required: false,
        default: ""
    },
    value: {
        type: String,
        required: true,
        default: {}
    },
})

const emits = defineEmits(['update:value'])

var currentValue = ref("")
onMounted(() => {
    currentValue.value = props.value
})

watch(() => currentValue.value, (newValue: any) => {
    emits('update:value', newValue)
})

</script>

<style scoped>
.fieldsgrid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    gap: 10px 10px;

    margin-top: 15px;
}
</style>