<template>
  <div class="fieldadd">
    <q-select square outlined option-label="displayText" option-value="fieldName" v-model="fieldSelected"
      :options="fieldsFiltered" label="Square outlined" use-input @filter="filterFn" />

    <q-btn square @click="AddField">
      <q-icon :name="fasSquarePlus" style="font-size: 2em" />
    </q-btn>
  </div>
</template>

<script lang="ts" setup>
import { onMounted, ref, watch } from 'vue'
import { fasSquarePlus } from '@quasar/extras/fontawesome-v6'
import { QSelect } from 'quasar'
import api from '@/api';


const props = defineProps({
  currentFields: {
    type: Array<string>,
    required: true,
    default: []
  }
})
const emit = defineEmits(['add'])

// ################################ Fields ################################
interface fieldSelectionType {
  fieldName: string
  displayText: string
}
var fieldSelected = ref(null as fieldSelectionType | null)

// ################################ Available fields ################################
const fieldsSelectable = ref([] as fieldSelectionType[])
const fieldsFiltered = ref([] as fieldSelectionType[])

// ################################ Active fields ################################
var activeFieldNames = new Map<string, string>()

onMounted(() => {
  activeFieldNamesUpdate()
})
watch(() => props.currentFields, () => {
  activeFieldNamesUpdate()
})

async function activeFieldNamesUpdate() {

  // get all field names
  let allFields = await api.fields.Fields()
  for (let field of allFields) {
    activeFieldNames.set(field.fieldName, field.displayText)
  }

  // remove the current names
  for (let fieldName of props.currentFields) {
    activeFieldNames.delete(fieldName)
  }

  // add all fields to options
  fieldsSelectable.value = []
  for (const [fieldName, displayText] of Object.entries(activeFieldNames)) {
    fieldsSelectable.value.push({
      fieldName: fieldName,
      displayText: displayText
    } as fieldSelectionType)
  }

  activeFieldFilter('')
}

// ################################ fields ################################

async function activeFieldFilter(needle: string) {
  if (needle === '') {
    fieldsFiltered.value = fieldsSelectable.value
    return
  }

  fieldsFiltered.value = []
  for (let fieldAvailable of fieldsSelectable.value) {
    if (
      fieldAvailable.fieldName.toLocaleLowerCase().includes(needle) ||
      fieldAvailable.displayText.toLocaleLowerCase().includes(needle)
    ) {
      fieldsFiltered.value.push(fieldAvailable)
    }
  }
}

function filterFn(
  val: string,
  doneFn: (callbackFn: () => void, afterFn?: (ref: QSelect) => void) => void
) {
  if (val === '') {
    doneFn(() => {
      activeFieldFilter('')
    })
    return
  }

  doneFn(() => {
    const needle = val.toLowerCase()
    activeFieldFilter(needle)
  })
}

// ################################ Actions ################################

async function AddField() {
  if (fieldSelected.value === null) {
    console.warn('No value selected')
    return
  }
  emit('add', fieldSelected.value.fieldName)
}
</script>

<style scoped>
.fieldadd {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 5em;
  grid-template-rows: 1fr;
  gap: 10px 10px;
}
</style>
