<template>
  <q-input outlined v-model="tag" @keydown.enter="saveTag" label="Add tags">
    <template #prepend>
      <q-chip removable color="orange" text-color="white" icon="cake">
        Cupcake
      </q-chip>

      <q-badge v-for="tag in tagList" :key="tag"> {{ tag }}</q-badge>
    </template>
  </q-input>
</template>

<script lang="ts" setup>
import { ref } from 'vue';

const tag = ref('');
const tagList = ref<Array<string>>([]);

function saveTag() {
  if (!!tag.value?.trim()) {
    tagList.value.push(tag.value);
    tag.value = '';
  }
}

</script>
