<template>
  <q-checkbox v-model="current.value" :label="props.common?.label" :checked-icon="fasCheck" :unchecked-icon="fasSlash"
    color="green" keep-color />
</template>

<script lang="ts" setup>
import { fasSlash, fasCheck } from "@quasar/extras/fontawesome-v6";
import {
  computed,
  onMounted,
  reactive,
  watch,
  type PropType,
} from "vue";
import type { FieldProp } from "./useFieldComponents";



const props = defineProps({
  modelValue: {
    type: Boolean,
    required: true,
    default: false,
  },
  common: {
    type: Object as PropType<FieldProp>,
    required: false,
  },
});

const emit = defineEmits(["update:modelValue"]);

// ###################### modelValue ######################

const current = reactive({
  value: false,
});

onMounted(() => {
  if (props.modelValue !== undefined) {
    current.value = props.modelValue
  }
});
watch(
  () => props.modelValue,
  (changedValue) => {
    if (changedValue !== undefined) {
      current.value = changedValue
    }
  }
);

// ###################### edit ######################
watch(
  () => current.value,
  (changedValue) => {
    emit("update:modelValue", changedValue);
  }
);

// validate
const isVAlid = computed(() => {
  if (props.common?.validationFunction === undefined) return true;
  return props.common?.validationFunction
});


</script>




./useFieldComponents