<template>
  <q-input filled stack-label v-model="current.value" mask="date" :rules="['date']" :label="props.common?.label"
    :hint="props.common?.hint" :error="!isVAlid" :error-message="props.common?.invalidMessage">
    <template v-slot:append>
      <q-icon :name="fasCalendarDay" class="cursor-pointer">
        <q-popup-proxy cover transition-show="scale" transition-hide="scale">
          <q-date v-model="current.value">
            <div class="row items-center justify-end">
              <q-btn v-close-popup label="Close" color="primary" flat />
            </div>
          </q-date>
        </q-popup-proxy>
      </q-icon>
    </template>
  </q-input>
</template>

<script lang="ts" setup>
import { fasAddressBook, fasCalendarDay } from "@quasar/extras/fontawesome-v6";
import {
  computed,
  onMounted,
  reactive,
  watch,
  type PropType,
} from "vue";
import type { FieldProp } from "./useFieldComponents";



const props = defineProps({
  modelValue: {
    type: String,
    required: true,
  },
  common: {
    type: Object as PropType<FieldProp>,
    required: false,
  },
});

const emit = defineEmits(["update:modelValue"]);

// ###################### modelValue ######################

const current = reactive({
  value: "",
});

onMounted(() => {
  current.value = props.modelValue
});
watch(
  () => props.modelValue,
  (changedValue) => {
    current.value = changedValue
  }
);

// ###################### edit ######################
watch(
  () => current.value,
  (changedValue) => {
    emit("update:modelValue", changedValue);
  }
);

// validate
const isVAlid = computed(() => {
  if (props.common?.validationFunction === undefined) return true;
  return props.common?.validationFunction
});


</script>




./useFieldComponents