<template>

  <span class="text-h6 text-left">Collected Items</span>

  <dyndb-data-cards v-model="collectedDocumentArray" :config="collectedDocumentConfig"
    @selected="OnCardSelected"></dyndb-data-cards>


  <!-- Select -->
  <span class="text-h6 text-left">Link of documents</span>
  <dyndb-data-cards v-model="toBeLinkedDocuments" :config="collectedDocumentConfig"
    @clicked="RemoveToBeLinkedDocument"></dyndb-data-cards>

  <!-- Buttons -->
  <div v-if="mode === 'edit'">
    <q-btn label="Link" :icon="fasLink" :disable="toBeLinkedDocuments.length != 2" @click="OnLinkClicked"></q-btn>
  </div>

</template>

<script lang="ts" setup>
// vue
import { onMounted, ref, watch, type PropType } from 'vue'

// api
import { BadgeAttachment, BadgeDocument, BadgeField, BadgeTemplate } from '@/api/badges'

// components
import DyndbDataCards, { type Badge, type CardProperties } from '@/components/dyndb/common/DataCards.vue'
// assets

// stores
import { useCollectionStore } from '@/stores/collection'
import { useLayoutStore } from '@/stores/layout'
import { useButtonbarStore } from '@/stores/buttonbar'
import { fasLink } from '@quasar/extras/fontawesome-v6'
import { useConfigStore } from '@/stores/config'
import api from '@/api'
import { useCollectedItemAction } from './useCollectedItemAction'
import { useNotificationStore } from '@/stores/notification'
import type { JSONSingleDoc } from '@/api/document'
import { useDocumentEditAction } from '../document/useDocumentEditAction'
import { useDocumentCollectAction } from './useDocumentCollectAction'
import { useAttachmentActions } from '../attachments/useAttachmentActions'

export type CollectorMode = "select" | "edit"

const props = defineProps({
  mode: {
    type: String as PropType<CollectorMode>,
    required: false,
    default: 'edit'
  }
})


// ########################### components ###########################

// ########################### stores ###########################
const buttonbarStore = useButtonbarStore()
const configStore = useConfigStore()
const collectionStore = useCollectionStore()
const notificationStore = useNotificationStore()



// Core stuff

// ########################### init ###########################

const layoutStore = useLayoutStore()
onMounted(() => {
  const buttonbarStore = useButtonbarStore()
})


// ########################### selector ###########################

// ########################### buttonbar ###########################
const currentMode = ref(props.mode)

// onMounted(() => { UpdateButtons() })
watch(() => props.mode, (value: CollectorMode) => { currentMode.value = value })


// ########################### collected documents ###########################
const collectedDocumentConfig = {
  faIconFieldName: 'faicon',
  titleFieldName: 'displayText',
  badges: (value: JSONSingleDoc) => {
    let badges: Badge[] = []

    let documentType = api.document.DetectDocType(value)

    switch (documentType) {
      case 'document':
        badges.push(BadgeDocument)
        break
      case 'field':
        badges.push(BadgeField)
        break
      case 'template':
        badges.push(BadgeTemplate)
        break
      case 'attachment':
        badges.push(BadgeAttachment)
        break
    }

    return badges
  }
} as CardProperties

const collectedDocumentArray = ref([] as JSONSingleDoc[])
const toBeLinkedDocuments = ref([] as JSONSingleDoc[])

function LoadFromStore() {
  let collectionStore = useCollectionStore()
  collectedDocumentArray.value = Object.values(collectionStore.$state.documents);
}

onMounted(() => {
  LoadFromStore()
})



// #################### Actions ####################
const curCollectedItem = ref({} as JSONSingleDoc | undefined)
const curCollectedItemIndex = ref(0 as number | undefined)
curCollectedItemIndex.value = undefined

useCollectedItemAction('collector', curCollectedItemIndex,
  (action: 'addToLinked' | 'uncollect', index: number | undefined) => {
    if (index === undefined) { return }

    if (action === 'addToLinked') {
      if (toBeLinkedDocuments.value.length >= 2) {
        toBeLinkedDocuments.value.shift()
      }

      let item = collectedDocumentArray.value[index]
      if (item !== undefined) {
        toBeLinkedDocuments.value.push(item)
      }
    }

    if (action === 'uncollect') {
      let item = collectedDocumentArray.value[index]
      if (item !== undefined) {
        collectionStore.ForgetDocument(item?._links?.self)
        LoadFromStore()
      }
    }

  })

useDocumentEditAction('collector', curCollectedItem)
useDocumentCollectAction('collector', curCollectedItem)
useAttachmentActions('collector', curCollectedItem)


function OnCardSelected(curValue: JSONSingleDoc, index: number) {
  if (index !== -1) {
    curCollectedItemIndex.value = index
    curCollectedItem.value = curValue
  } else {
    curCollectedItemIndex.value = undefined
    curCollectedItem.value = undefined
  }
}

function RemoveToBeLinkedDocument(curValue: JSONSingleDoc, index: number) {
  toBeLinkedDocuments.value.splice(index, 1)
}

async function OnLinkClicked() {

  if (toBeLinkedDocuments.value.length == 2) {
    try {
      let result = await api.document.Link(
        toBeLinkedDocuments.value[0],
        toBeLinkedDocuments.value[1]._links?.self
      )
      toBeLinkedDocuments.value.splice(1, 1)
      api.notifications.Sucess("linked")
    } catch (e) {
      if (typeof e === 'string') {
        notificationStore.ShowError({ name: 'Error', message: e })
      }
      if (e instanceof Error) {
        notificationStore.ShowError(e)
      }
    }
  }

}

</script>
