<template>
  <!-- search -->
  <q-input filled bottom-slots v-model="searchText" label="Filter" debounce="1000" dense>
    <template v-slot:append>
      <q-icon
        v-if="searchText !== ''"
        :name="fasXmark"
        @click="searchText = ''"
        class="cursor-pointer"
      />
      <q-icon :name="fasMagnifyingGlass" />
    </template>

    <template v-slot:hint> Search words, case insensitive </template>
  </q-input>
</template>

<script lang="ts" setup>
// vue
import { onMounted, ref, watch } from 'vue'

// stores
import { type JSONSingleDoc } from '@/api/document'
import { type JSONPagedDocLinks } from '@/api/documents'

// quasar
import { fasXmark, fasMagnifyingGlass } from '@quasar/extras/fontawesome-v6'
import api from '@/api'
import { useDocumentsStore } from '@/stores/documents'

const props = defineProps({
  /** Array of current docs
   *
   * will be updated when you search
   */
  modelValue: {
    type: Array<JSONSingleDoc>,
    required: true,
    default: []
  },

  /** Enable local-search on model-value
   *
   * If this is set to false, we call the search-api which store the documents in the documents-store
   */
  localsearch: {
    type: Boolean,
    required: false,
    default: false
  }
})

const emit = defineEmits(['update:modelValue'])

// ###################### documents ######################

var allDocuments: JSONSingleDoc[] = []
const filteredDocuments = ref([] as JSONSingleDoc[])
const links = ref({} as JSONPagedDocLinks | undefined)

// init values
async function UpdateLocalValues() {
  if (allDocuments.length === 0) {
    allDocuments = props.modelValue
  }
  filteredDocuments.value = props.modelValue
}
onMounted(async () => UpdateLocalValues())
watch(
  () => props.modelValue,
  () => UpdateLocalValues()
)

// ###################### Local-Search ######################

const searchText = ref('')
watch(searchText, async (searchstring: string) => {
  const documentsStore = useDocumentsStore()
  documentsStore.Search(searchstring)
})
</script>
