<template>
  <!-- search -->
  <q-input filled bottom-slots v-model="searchText" label="Search" debounce="1000">
    <template v-slot:append>
      <q-icon
        v-if="searchText !== ''"
        :name="fasXmark"
        @click="searchText = ''"
        class="cursor-pointer"
      />
      <q-icon :name="fasMagnifyingGlass" />
    </template>

    <template v-slot:hint> Search words, case insensitive </template>
  </q-input>
</template>

<script lang="ts" setup>
// vue
import { ref, watch } from 'vue'

// api
import api from '@/api'

// assets
import { fasXmark, fasMagnifyingGlass } from '@quasar/extras/fontawesome-v6'

// stores

// components

// composables

// ########################### search ###########################
const searchText = ref('')
watch(searchText, async (searchstring: string) => {
  // we need the single words
  let words = searchstring.split(' ')

  await api.search.Search(words)
})
</script>
