<template>
  <div class="globalsearch">
    <!-- search -->
    <q-input filled bottom-slots v-model="(windowStore.windowActive?.state as SearchWindowStateType).searchText"
      label="Search" debounce="1000" @update:model-value="doSearch">
      <template v-slot:append>
        <q-icon v-if="(windowStore.windowActive?.state as SearchWindowStateType).searchText !== ''" :name="fasXmark"
          @click="(windowStore.windowActive?.state as SearchWindowStateType).searchText = ''" class="cursor-pointer" />
        <q-icon :name="fasMagnifyingGlass" />
      </template>

      <template v-slot:hint> Search words, case insensitive </template>
    </q-input>

    <q-toggle label="Documents"
      v-model="(windowStore.windowActive?.state as SearchWindowStateType).searchForDocuments" />
    <q-toggle label="Attachments"
      v-model="(windowStore.windowActive?.state as SearchWindowStateType).searchForAttachments" />

    <!-- result -->
    <dyndb-data-cards v-model="documents" :config="cardConfig" @selected="OnCardSelected"></dyndb-data-cards>


  </div>
</template>

<script lang="ts" setup>
// vue
import { ref } from 'vue'
import { type SubscriptionCallbackMutation } from 'pinia'

// api
import api from '@/api'
import { type JSONSingleDoc } from '@/api/document'

// assets
import { fasXmark, fasMagnifyingGlass } from '@quasar/extras/fontawesome-v6'

// stores
import { useDocumentsStore, type DocumentsStoreState } from '@/stores/documents'
import { useWindowStore } from '@/stores/windows'

// components
import DyndbDataCards, { type Badge, type CardProperties } from '@/components/dyndb/common/DataCards.vue'
import { BadgeAttachment, BadgeDocument, BadgeField, BadgeTemplate } from '@/api/badges'
import { useDocumentsListActions } from '../explorer/useDocumentsListActions'
import { useDocumentEditAction } from '../document/useDocumentEditAction'
import { useDocumentCollectAction } from '../collector/useDocumentCollectAction'
import { useAttachmentActions } from '../attachments/useAttachmentActions'

// composables

const props = defineProps({

})

// ########################### stores ###########################
const windowStore = useWindowStore()
const documentsStore = useDocumentsStore()

// ########################### window-state ###########################
export interface SearchWindowStateType {
  searchForDocuments: boolean
  searchForAttachments: boolean
  searchText: string
}

// ########################### search ###########################
async function doSearch(searchstring: string | number | null) {  // we need the single words

  // clear
  documentsStore.Clean()

  // document-search
  if ((windowStore.windowActive?.state as SearchWindowStateType).searchForDocuments === true) {
    if (typeof searchstring === 'string') {
      let words = searchstring.split(' ')
      await api.search.Search(words)
    }
  }

  // attachment-search
  if ((windowStore.windowActive?.state as SearchWindowStateType).searchForAttachments === true) {
    if (typeof searchstring === 'string') {
      let words = searchstring.split(' ')
      await api.attachments.Search(words)
    }
  }

}


// ########################### documents ###########################
const cardConfig = {
  faIconFieldName: 'faicon',
  textFieldName: 'displayText',
  badges: (value: JSONSingleDoc) => {
    let badges: Badge[] = []

    let documentType = api.document.DetectDocType(value)

    switch (documentType) {
      case 'document':
        badges.push(BadgeDocument)
        break
      case 'field':
        badges.push(BadgeField)
        break
      case 'template':
        badges.push(BadgeTemplate)
        break
      case 'attachment':
        badges.push(BadgeAttachment)
        break
    }

    return badges
  },
} as CardProperties

const documents = ref([] as JSONSingleDoc[])

documentsStore.$subscribe(
  (mutation: SubscriptionCallbackMutation<DocumentsStoreState>, state: DocumentsStoreState) => {
    documents.value = Array.from(Object.values(state.allDocuments))
  }
)

// ########################### actions ###########################
const selectedDocument = ref({} as JSONSingleDoc | undefined)

useDocumentsListActions('search', selectedDocument)
useDocumentEditAction('search', selectedDocument)
useDocumentCollectAction('search', selectedDocument)
useAttachmentActions('search', selectedDocument)

function OnCardSelected(curValue: JSONSingleDoc, index: number) {
  if (index !== -1) {
    selectedDocument.value = curValue
  } else {
    selectedDocument.value = undefined
  }
}

</script>