<template>
  <q-btn :icon="fasEye" color="primary" @click="Preview(props.docSelfUrl)" />
</template>

<script lang="ts" setup>
import { useLayoutStore, type BladeComponent } from '@/stores/layout'
import { fasEye } from '@quasar/extras/fontawesome-v6'

interface Props {
  docSelfUrl?: string
}
const props = withDefaults(defineProps<Props>(), {})
const emit = defineEmits(['click'])

async function Preview(docSelfLink: string | undefined) {
  if (docSelfLink === undefined) {
    return
  }

  const layoutStore = useLayoutStore()
  layoutStore.$state.rightBladeComponent = {
    name: 'DocViewer',
    props: { url: docSelfLink }
  } as BladeComponent

  emit('click')
}
</script>
