<template>
  <q-btn-group>
    <q-btn v-if="props.url !== undefined" :icon="fasLinkSlash" color="primary" @click="UnLink()" />
  </q-btn-group>
</template>

<script lang="ts" setup>
import api from '@/api'
import { IsError } from '@/api/error'
import { fasLinkSlash } from '@quasar/extras/fontawesome-v6'

interface Props {
  url?: string
}
const props = withDefaults(defineProps<Props>(), {})
const emit = defineEmits(['click'])

async function UnLink() {
  if (props.url === undefined) return

  let unlinkResult = await api.links.UnLink(props.url)
  if (!IsError(unlinkResult)) {
    api.notifications.Sucess('collector.status.unlinked')
  } else {
    api.notifications.Error('action.failed', unlinkResult.message)
  }

  emit('click')
}
</script>
