<template>
  <div :class="{ cards: true }">
    <div :class="{ 'doccard': true, 'cursor-pointer': true, selected: selectedIndex === index }"
      v-for="  [index, curValue] of model.entries()" @click="OnCardClicked(curValue, index)">

      <!-- icon  -->
      <q-icon :name="GetIconFromObjectField(curValue, props.config.faIconFieldName)"
        style="grid-column: 1; grid-row: span 2; min-height: 32px; min-width: 32px"></q-icon>

      <!-- title -->
      <span
        v-if="props.config.titleFieldName !== undefined || curValue[(props.config.titleFieldName as unknown as string)] !== undefined"
        class="text-caption text-left" style="grid-column: 2; grid-row: 1; grid-column-end: span 2">{{
          GetString(curValue, props.config.titleFieldName)
        }}</span>

      <!-- value  -->
      <span
        v-if="props.config.textFieldName !== undefined || curValue[(props.config.textFieldName as unknown as string)] !== undefined"
        class="text-subtitle1 text-left" style="grid-column: 2; grid-row: 2; grid-column-end: span 2;">{{
          GetString(curValue, props.config.textFieldName)
        }}</span>

      <!-- badge -->
      <span style="grid-column: 1; grid-row: 3; grid-column-end: span 3;">

        <span v-if="props.config.badges !== undefined">
          <q-badge v-for="badge of props.config.badges(curValue)" :label="badge.displayText"
            :color="badge.color"></q-badge>
        </span>

      </span>

    </div>
  </div>
</template>

<script lang="ts" setup>
// vue
import { ref, type PropType, onMounted, watch } from 'vue'
import { fasPaperclip, fasTableCells, fasTableColumns } from '@quasar/extras/fontawesome-v6'
import type { NamedColor } from 'quasar';
import { useFontAwesome } from '../icons/useFontAwesome';

// api
const { GetIconFromObjectField, GetIcon } = useFontAwesome()


// ########################### props ###########################
export interface CardProperties {
  faIconFieldName: string | undefined // fieldname in your object that holds the font-awesome icon-name
  titleFieldName: string | ((value: any) => string) | undefined
  textFieldName: string | ((value: any) => string) | undefined
  fieldBadges: BadgeFromField[] | ((value: any) => BadgeFromField[]) | undefined
  badges: ((value: any) => Badge[]) | undefined
}

export interface BadgeFromField {
  fieldName: string | ((value: any) => string) | undefined // the name of the field that will be shown as value
  faicon?: string | undefined
  tooltipText: string | ((value: any) => string) | undefined
  color: NamedColor | ((value: any) => NamedColor) | undefined
}

export interface Badge {
  displayText: string
  faicon?: string | undefined
  tooltipText: string | undefined
  color: NamedColor | undefined
}

const props = defineProps({
  config: {
    type: Object as PropType<CardProperties>,
    require: true,
    default: () => ({})
  },
})

const emits = defineEmits(['clicked', 'selected'])

const model = defineModel<Array<any>>({ default: [] })

// ########################### icons ###########################


function GetString(value: any, fieldNameOrFunction: string | ((value: any) => string) | undefined): string {
  if (fieldNameOrFunction === undefined) {
    return "<empty>"
  }

  switch (typeof fieldNameOrFunction) {
    case 'function':
      return fieldNameOrFunction(value)
    case 'string':
      let fieldValue = value[fieldNameOrFunction]
      return fieldValue
    default:
      return 'error'
  }
}
// ####################### Selected #######################
const selectedIndex = ref(-1)
watch(model, () => {
  selectedIndex.value = -1
})

// ####################### Menu #######################

function OnCardClicked(value: any, index: number) {
  if (selectedIndex.value === index) {
    selectedIndex.value = -1
  } else {
    selectedIndex.value = index
  }

  emits('clicked', value, index)

  emits('selected', value, selectedIndex.value)
}


</script>
