<template>
  <div class="doccard cursor-pointer" @click="OnCardClicked">
    <q-icon :name="icon" style=" grid-row: span 2; min-height: 32px; min-width: 32px"></q-icon>
    <span class="text-subtitle1 text-left" style="grid-column: 2; grid-row: 1;">{{ props.config.displayText }}</span>
    <span class="text-caption text-left" style="grid-column: 2; grid-row: 2;">{{ props.config.displayTitle }}</span>

    <span style="grid-row: 3; grid-column: span 3;">
      <q-badge color="indigo-4">
        {{ config.attachmentCount }} <q-icon :name="fasPaperclip" color="white" class="q-ml-xs" />
      </q-badge>
      <q-badge v-if="config.hasLayout !== undefined" color="indigo-4">
        <q-icon :name="fasTableColumns" color="white" />
        <q-tooltip>This document has an custom layout</q-tooltip>
      </q-badge>
    </span>
  </div>
</template>

<script lang="ts" setup>
// vue
import { ref, type PropType, onMounted } from 'vue'
import { fasPaperclip, fasTableCells, fasTableColumns } from '@quasar/extras/fontawesome-v6'
import type { NamedColor } from 'quasar';

// api

// ########################### props ###########################
const props = defineProps({
  config: {
    type: Object as PropType<CardProperties>,
    require: true,
    default: () => ({})
  },

  iconFieldName: {
    type: String,
    require: false,
  },

  titleFieldName: {
    type: String,
    require: false,
  },
  titleFieldNameFunc: {
    type: Function,
    require: false,
  },

  textFieldName: {
    type: String,
    require: false,
  },
  textFieldNameFunc: {
    type: Function,
    require: false,
  },

})

const emits = defineEmits(['clicked'])

const model = defineModel<any>({ default: [] })

// load icon from name
var icon = ref('')
onMounted(async () => {
  const fontawesome = (await import('@quasar/extras/fontawesome-v6')) as unknown as Record<string, string>

  if (props.config.faicon === undefined) {
    props.config.faicon = 'fasLayerGroup'
  }

  const currentIcon = fontawesome[props.config.faicon]
  if (currentIcon !== undefined) {
    icon.value = currentIcon
  } else {
    icon.value = fontawesome['fasLayerGroup']
  }
})

/**
 * The group of cards, use this for all cards that belong together
 */
export interface Group {
  menuVisibleForID: string // The current visible ID
}

export interface CardProperties {
  id: string
  faicon?: string | undefined
  displayTitle?: string | undefined
  displayText?: string | undefined

  self?: string | undefined

  hasLayout?: boolean | undefined
  attachmentCount?: number | undefined
}

export interface FieldAsBadge {
  fieldName: string // the name of the field that will be shown as value
  faicon?: string | undefined
  tooltipText: string | undefined
  color: NamedColor | undefined
}

// ####################### Menu #######################

function OnCardClicked() {
  emits('clicked', props.config)
}
</script>
