<template>
  <div class="cards">
    <dyndb-card
      v-for="carddata of props.config"
      :key="carddata.id"
      :config="carddata"
      :group="cardGroup"
      @clicked="ProxyEmit"
    >
    </dyndb-card>
  </div>
</template>

<script lang="ts" setup>
// vue
import { reactive, ref } from 'vue'

// components
import DyndbCard, { type CardProperties, type Group } from './DocCard.vue'

// ########################### props ###########################
const props = defineProps({
  config: {
    type: Array<CardProperties>,
    require: true,
    default: {}
  }
})

const emits = defineEmits(['clicked'])

const cardGroup = reactive({} as Group)

function ProxyEmit(properties: CardProperties) {
  emits('clicked', properties)
}
</script>
