<template>

    <q-table :title="props.title" :rows="rows" :columns="tableProperties.columns" row-key="name"
        @row-click="OnRowClicked">
        <template v-slot:body-cell-faicon="props">
            <q-td :props="props">
                <q-icon :name="GetIcon(props.value)" style="width: 25px; height: 25px;" />
            </q-td>
        </template>
    </q-table>
</template>

<script lang="ts" setup>
// vue
import { ref } from 'vue'
import { type SubscriptionCallbackMutation } from 'pinia'

// assets
import { fasSheetPlastic } from '@quasar/extras/fontawesome-v6'

// stores
import { useDocumentsStore, type DocumentsStoreState } from '@/stores/documents';

// components
import type { QTableProps } from 'quasar';

// api
import api from '@/api';
import { IsError } from '@/api/error';
import type { JSONSingleDoc } from '@/api/document';

// ########################### props / emits ###########################

const props = defineProps({
    title: {
        type: String,
        required: false,
        default: 'Documents'
    },
});

const emits = defineEmits(["row-click"])

// ########################### stores ###########################
const documentsStore = useDocumentsStore()

// ########################### columns ###########################
var tableProperties: QTableProps = {
    columns: [
        {
            name: 'faicon',
            label: 'Icon',
            field: 'faicon',
            sortable: false,
            align: 'left'
        },
        {
            name: 'displayText',
            label: 'Anzeigetext',
            field: 'displayText',
            sortable: false,
            align: 'left'
        },
        { name: 'templateName', label: 'Template', field: '_dyndb_templatename', sortable: true }
    ],
    rows: [],
}


// ########################### rows ###########################
const rows = ref([] as JSONSingleDoc[])


documentsStore.$subscribe(
    async (
        mutation: SubscriptionCallbackMutation<DocumentsStoreState>,
        state: DocumentsStoreState
    ) => {

        const documents = state.documents

        for (let document of documents) {
            const template = await api.templates.Template(document._dyndb_templatename)
            if (!IsError(template)) {
                document._dyndb_templatename = template.displayText
            }

            document._links_self = document._links?.self
            /*
                        if (document.faicon !== undefined) {
                            document.faicon = fontawesome[document.faicon]
                        } else {
                            document.faicon = 'fasSheetPlastic'
                        }
                        */
        }

        rows.value = documents

    }
)

function GetIcon(value: JSONSingleDoc) {
    console.debug(value)
    return fasSheetPlastic
}

// ########################### actions ###########################

function OnRowClicked(evt: Event, row: JSONSingleDoc, index: number) {
    emits("row-click", row)
}

</script>
