<template>
    <div style="width: 200px; display: grid; align-content: center; justify-items: center;">
        <span class="text-caption">{{ props.text }}</span>
    </div>
</template>

<script lang="ts" setup>
// styles
import { fasLink } from '@quasar/extras/fontawesome-v6'

// stores
import { type PropType, type Ref } from 'vue';

// components
const props = defineProps({
    text: {
        type: String,
        required: false,
        default: undefined
    },
})

</script>