<template>
  <q-list bordered class="rounded-borders max-width">
    <q-item-label header>Primary document</q-item-label>

    <!-- no primary doc selected, you can select this -->
    <q-item v-if="thisIsPrimary">This is the primary document</q-item>
    <q-item v-else>
      <q-item-section v-if="data.activeDocument != undefined">
        Document '{{ data.activeDocument.document.displayName }}' of '{{
          data.templateDisplayName
        }}'
      </q-item-section>
      <q-item-section>
        <q-btn
          no-caps
          color="primary"
          :icon="fasArrowsToCircle"
          label="Set this doc as primary. So other docs can be linked to it"
          @click="SetAsPrimary()"
        />
      </q-item-section>
    </q-item>

    <!-- You can link to primary doc -->
    <q-item v-if="canLink">
      <!-- delete -->
      <q-item-section>
        <q-btn no-caps color="primary" :icon="fasLink" label="Link" @click="Link()" />
      </q-item-section>

      <q-item-section>
        <q-btn no-caps color="warning" :icon="fasLinkSlash" label="Unlink" @click="UnLink()" />
      </q-item-section>
    </q-item>
  </q-list>
</template>

<script lang="ts" setup>
import { fasArrowsToCircle, fasLink, fasLinkSlash } from '@quasar/extras/fontawesome-v6'
import { reactive, ref } from 'vue'
import { type JSONSingleDoc } from '@/api/document'
//import { DocCommon } from "~/api/DynDBDoc";
//import { LINK_PRIMARY_SET } from "~/api/DynDBLink";

// the primary doc
const thisIsPrimary = ref(false) // is this doc the primary one ?
const canLink = ref(false)

// reactive data
const data = reactive(
  {} as {
    activeDocument: JSONSingleDoc | undefined
    templateDisplayName: string
  }
)
data.activeDocument = undefined
data.templateDisplayName = ''

function LoadPrimary() {
  /*
  data.activeDocument = ddb.stash.PrimaryGet();
  if (data.activeDocument === undefined) {
    thisIsPrimary.value = false;
    return;
  }

  if (data.activeDocument._id === props.doc?._id) {
    thisIsPrimary.value = true;
    canLink.value = false;

    // get the template display name
    let template = ddb.template.GetFromName(data.activeDocument["+template"]);
    if (template !== undefined) {
      data.templateDisplayName = template.displayName;
    }
  } else {
    thisIsPrimary.value = false;
    canLink.value = true;
  }
  */
}

/*
var onWindowSelectToken = $bus.subscribe(LINK_PRIMARY_SET, () => {
  LoadPrimary();
});
onMounted(() => {
  LoadPrimary();
});
onUnmounted(() => {
  $bus.unsubscribe(onWindowSelectToken);
});
*/

function SetAsPrimary() {
  // ddb.stash.PrimarySet(props.doc);
}

function Link() {
  // ddb.stash.DoLink(props.doc!._id);
}

function UnLink() {
  // ddb.stash.DoUnLink(props.doc!._id);
}
</script>
