<template>
  <div>
    <q-btn
      :disable="!documentsStore.CreatePossible"
      color="primary"
      :icon="fasFolderPlus"
      class="q-mr-xs"
      label="New"
      @click="BtnClicked('create')"
    />

    <q-btn
      :disable="!documentsStore.PrevPossible"
      color="primary"
      :icon="fasBackward"
      class="q-mr-xs"
      label="Prev"
      @click="BtnClicked('prev')"
    />

    <q-btn
      :disable="!documentsStore.NextPossible"
      color="primary"
      :icon="fasForward"
      class="q-mr-xs"
      label="Next"
      @click="BtnClicked('next')"
    />
  </div>
</template>

<script lang="ts" setup>
import { fasFolderPlus, fasBackward, fasForward } from '@quasar/extras/fontawesome-v6'
import api from '@/api'
import { useDocumentsStore } from '@/stores/documents'

const emit = defineEmits(['clicked'])
async function BtnClicked(btn: string) {
  emit('clicked', btn)
}

const documentsStore = useDocumentsStore()
</script>
