.actionbar {
  grid-area: actionbar;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-auto-rows: auto;
  grid-auto-flow: row;

  /* gap: 10px 10px; */

  /*
    justify-content: space-between;
    align-content: center;
    align-self: center;
   
    align-items: start;
     */
  align-content: start;

  /* height: 100px; */
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

.actionbar.mobile-opened {
  grid-column-start: 1;
  grid-column-end: span 3;
  grid-row-start: 1;
  grid-row-end: span 3;

  z-index: 10;
  align-content: start;
}
