.cards {
  /* --min-card-width: 350px;

  display: grid;
  grid-template-columns: repeat(auto-fit, var(--min-card-width));
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;
  gap: 10px 10px; */


  --grid-column-count: 6;
  --grid-item--min-width: 300px;
  --grid-item--max-width: calc((100% - 10px) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-auto-flow: row;
  grid-auto-rows: 1fr;

  gap: 10px 10px;

}

.doccard {
  display: grid;
  grid-template-columns: 4em 1fr 4em;
  grid-template-rows: min-content min-content min-content;
  padding: 10px;

  transition: all 500ms;

  position: relative;

  border-radius: 10px;
}

.doccard.selected {}

.configcard {}