.body--dark {
    color: #ddd;
}

.body--dark .q-card {
    backdrop-filter: blur(10px);
    background-color: rgba(27, 25, 25, 0.25) ;
}

.body--dark .text-white {
    color: #ddd !important;
}


.body--dark .bg-primary {
    background: #0f457c !important;
}
