.defaultgrid {
    display: grid;
    grid-template-columns: min-content min-content;
    grid-template-rows: 1fr;
    gap: 10px 10px;
    min-height: calc(100% - 50px);

    align-items: start;
    margin: 15px;
}