.docpreview {
  align-items: start;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  grid-auto-flow: row;
  grid-auto-rows: min-content;

  margin: 10px;

  align-content: start;
}

.docpreview .docvalue {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}
