.field.view {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-flow: row;

    margin-top: 15px;
    margin-left: 15px;
    margin-right: 15px;
}

.field.layout {
    height: 50px;
    background-color: rgba(255, 255, 255, 0.548);

    display: grid;
    grid-template-columns: 5fr 1fr;
    grid-template-rows: 1fr;

}