.globalsearch {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content;
  grid-auto-flow: row;
  grid-auto-rows: min-content;
  align-items: start;

  margin: 10px;

  align-content: start;
}
