:root {
  --app-height: 100%;
}

.app {
  padding: 0;
  margin: 0;
  overflow: hidden;
  width: 100vw;
  height: var(--app-height);

  display: grid;
  grid-template-columns: 250px 4fr 2fr;
  grid-template-rows: fit-content(150px) 1fr fit-content(150px);
  grid-template-areas:
    'toolbarL   toolbar   toolbar'
    'menu       main      main'
    'actionbarL actionbar actionbar';

  /* gap: 10px; */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  transition: all ease-in-out 0.25s;
  animation: resize 3000ms ease infinite both;
}

.q-uploader__list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 250px);
  grid-template-rows: 1fr;
  grid-auto-rows: 1fr;
  grid-auto-flow: row;

  gap: 10px;
}