/*
.body--light {
  background-color: #269;
  background-image:
    linear-gradient(rgba(255, 255, 255, .5) 2px, transparent 2px),
    linear-gradient(90deg, rgba(255, 255, 255, .5) 2px, transparent 2px),
    linear-gradient(rgba(255, 255, 255, .28) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255, 255, 255, .28) 1px, transparent 1px);
  background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  height: 100%;
}

.body--light .q-card {
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255, 255, 0.25) ;

}

.body--light .q-table__card {
  background-color: transparent !important; 
}
*/
