.mainarea {
  grid-area: main;
  align-self: self-start;
  overflow-y: auto; /* scrolling */
  padding: 15px;
  height: calc(100%);

  align-items: start;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}
