.menu {
  /*
  grid-row-start: 1;
  grid-row-end: span 3;
  */
  grid-row-start: toolbarL;
  grid-row-end: actionbarL;

  align-self: center;
  overflow-y: auto;
  /* scrolling */
  height: calc(100%);
  /* margin-right: 10px; */

  z-index: 2;
}

.menu-opened {
  grid-template-columns: 250px 4fr 2fr;
}

.menu-closed {
  grid-template-columns: 30px 4fr 2fr;
}