.sidebar {
  /* Position in parent grid */
  grid-row-start: 1;
  grid-row-end: span 3;

  /* grid */
  display: grid;
  align-self: center;
  height: calc(100% - 20px);

  z-index: 2;
}

.sidebar .content {
  height: 100%;
  overflow-y: auto; /* scrolling */

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content 1fr min-content;
}

.sidebar.opened {
  display: block;
  grid-column-start: 2;
  grid-column-end: span 1;

  width: 100%;
  animation-name: fadeInRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}

.sidebar.closed {
  display: none;
  grid-column-start: 2;
  grid-column-end: span 1;

  width: 100%;
  animation-name: fadeOutRight;
  animation-duration: 1s;
  animation-fill-mode: both;
}
