 .stacked.window {
   grid-row-start: main;
   grid-row-end: main;
   grid-column-start: toolbar;
   grid-column-end: actionbar;

   align-self: self-start;
   overflow-y: auto;
   /* scrolling */
   padding: 15px;
   height: calc(100%);

   align-items: start;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: 1fr;
 }

 .stacked.window .window {
   display: grid;
   grid-template-rows: min-content 1fr;
   height: calc(100% - 50px);
 }