.overlay {
  grid-row-start: toolbar;
  grid-row-end: main;
  grid-column-start: toolbar;
  grid-column-end: actionbar;

  align-self: self-start;
  overflow-y: auto;
  /* scrolling */
  padding: 15px;
  height: calc(100%);

  align-items: start;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
}

.overlay .window {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  border-radius: 20px;
  border-width: 2px;
  border-width: 2px;
}

.overlay .window .title {
  display: grid;
  grid-template-columns: 1fr 4em;
  grid-template-rows: 1fr;
  align-items: center;

  border-style: solid;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-width: 2px;

  padding: 2px 15px;
}

.overlay .window .content {
  border-style: solid;
  border-top: 0px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  border-width: 2px;

  padding: 15px;
}