<template>
  <div class="appgrid">
    <dyndb-data-cards v-model="documents" :config="cardConfig" @selected="OnCardSelected"></dyndb-data-cards>
  </div>
</template>

<script lang="ts" setup>
// vue
import { onMounted, ref, watch } from 'vue'
import { useRoute, useRouter } from 'vue-router'

// api
import api from '@/api'
import { IsError } from '@/api/error'

// assets

// stores
import { type SubscriptionCallbackMutation } from 'pinia'
import { useConfigStore } from '@/stores/config'
import { useWindowStore } from '@/stores/windows'
import { useLayoutStore } from '@/stores/layout'
import { useButtonbarStore } from '@/stores/buttonbar'
import { useNotificationStore } from '@/stores/notification'
import { type DocumentsStoreState, useDocumentsStore } from '@/stores/documents'

// components
import DyndbDataCards, { type CardProperties } from '@/components/dyndb/common/DataCards.vue'

// composables
import type { JSONSingleDoc } from '@/api/document'
import { useFontAwesome } from '../icons/useFontAwesome'
import type { Template } from '@/api/templates'
import { useDocumentsListActions } from './useDocumentsListActions'
import { useDocumentNavigation } from './useDocumentNavigation'
import { useDocumentEditAction } from '../document/useDocumentEditAction'
import { useDocumentCollectAction } from '../collector/useDocumentCollectAction'

const { GetIcon } = useFontAwesome()

const props = defineProps({
  templatename: {
    type: String,
    required: true,
    default: ''
  }
})

// ########################### components ###########################


// ########################### stores ###########################
const configStore = useConfigStore()
const layoutStore = useLayoutStore()
const windowStore = useWindowStore()
const buttonbarStore = useButtonbarStore()
const documentsStore = useDocumentsStore()
const notificationStore = useNotificationStore()

// ########################### router ###########################
const router = useRouter()
const route = useRoute()

// #################### Items ####################
const templateName = ref(props.templatename)
const template = ref({} as Template)
const documents = ref([] as JSONSingleDoc[])
const curDocument = ref({} as JSONSingleDoc | undefined)

documentsStore.$subscribe(
  (mutation: SubscriptionCallbackMutation<DocumentsStoreState>, state: DocumentsStoreState) => {
    documents.value = Array.from(Object.values(state.allDocuments))
  }
)

async function LoadItems(tplName: string) {
  templateName.value = tplName

  let tpl = await api.templates.Template(tplName)
  if (IsError(tpl)) {
    api.notifications.Error("load error", "can not load template")
    return
  }
  template.value = tpl

  await api.documents.ListFirst(tplName, configStore.pageSize)
}



// #################### Cards ####################

const cardConfig = {
  faIconFieldName: 'faicon',
  textFieldName: 'displayText',
} as CardProperties

const cards = ref([] as CardProperties[])

// watch(documents, (newValue: JSONSingleDoc[]) => {
//   cards.value = CardsFromDocuments(newValue)
// })

onMounted(() => {
  LoadItems(props.templatename)
})

watch(
  () => props.templatename,
  (value: string) => {
    LoadItems(value)
  }
)




// ########################### buttonbar ###########################
useDocumentNavigation('explorer', templateName)
useDocumentsListActions('explorer', curDocument)
useDocumentEditAction('explorer', curDocument)
useDocumentCollectAction('explorer', curDocument)

watch(templateName, () => { curDocument.value = undefined })

async function OnCardSelected(card: JSONSingleDoc, index: number) {
  if (index === -1) {
    curDocument.value = undefined
  } else {
    curDocument.value = card
  }
  // return DocumentActionTrigger(configStore.$state.documentAction, card)
}

</script>
