<template>
    <dyndb-data-cards v-model="subDocCards" :config="subDocsCardConfig"
        @selected="subDocCardsClicked"></dyndb-data-cards>
</template>

<script lang="ts" setup>
// vue
import { type PropType, onMounted, ref, watch } from 'vue'

// stores

// components
import DyndbDataCards, { type Badge, type CardProperties } from '@/components/dyndb/common/DataCards.vue'

// composables
import { useFontAwesome } from '../icons/useFontAwesome'

useFontAwesome()

// api
import api from '@/api'
import type { DocumentAction, JSONSingleDoc } from '@/api/document'
import { BadgeDocument, BadgeField, BadgeTemplate, BadgeAttachment } from '@/api/badges'
import { useDocumentsListActions } from '../explorer/useDocumentsListActions';
import { useDocumentEditAction } from './useDocumentEditAction';
import { useAttachmentActions } from '../attachments/useAttachmentActions';
import { useDocumentCollectAction } from '../collector/useDocumentCollectAction';



const props = defineProps({
    embedded: {
        type: Object as PropType<Record<string, JSONSingleDoc>>,
        required: true,
        default: {} as JSONSingleDoc
    },
    mode: {
        type: String as PropType<DocumentAction>,
        required: true,
        default: 'view'
    }
})

const emits = defineEmits(['clicked', 'update:document'])

// ########################### documents ###########################


const subDocsCardConfig = {
    faIconFieldName: 'faicon',
    titleFieldName: 'displayText',
    // textFieldName: '',
    badges: (value: JSONSingleDoc) => {
        let badges: Badge[] = []

        let documentType = api.document.DetectDocType(value)

        switch (documentType) {
            case 'document':
                badges.push(BadgeDocument)
                break
            case 'field':
                badges.push(BadgeField)
                break
            case 'template':
                badges.push(BadgeTemplate)
                break
            case 'attachment':
                badges.push(BadgeAttachment)
                break
        }

        return badges
    },
} as CardProperties

const subDocCards = ref([] as JSONSingleDoc[])

function subDocCardsUpdate(embeddedDocs: Record<string, JSONSingleDoc> | undefined) {
    if (embeddedDocs === undefined) {
        subDocCards.value = []
        return
    }

    let newCards = [] as JSONSingleDoc[]
    for (const [embeddedDocID, embeddedDoc] of Object.entries(embeddedDocs)) {
        newCards.push(embeddedDoc)
    }
    subDocCards.value = newCards
}

watch(() => props.embedded, (newDoc: Record<string, JSONSingleDoc>) => {
    subDocCardsUpdate(newDoc)
})
onMounted(() => {
    subDocCardsUpdate(props.embedded)
})


// ##################### Selection / Action #####################
const curDocument = ref({} as JSONSingleDoc | undefined)
function subDocCardsClicked(card: JSONSingleDoc, index: number) {
    if (index === -1) {
        curDocument.value = undefined
    } else {
        curDocument.value = card
    }
}


useDocumentEditAction('documentedit', curDocument)
useDocumentsListActions('documentedit', curDocument)
useAttachmentActions('documentedit', curDocument)
useDocumentCollectAction('documentedit', curDocument)

</script>

<style scoped>
.fieldsgrid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    gap: 10px 10px;

    margin-top: 15px;
}
</style>