<template>

    <!-- edit field-value -->
    <div v-if="curDocumentValues !== undefined">
        <component :is="GetNativeComponent(`dyndb-field-${curDocumentValues.datatype}`)" :common="{
            label: curDocumentValues.displayText,
        }" v-model="curDocumentValues.value"></component>

        <q-btn :icon="fasCheck" @click="OnFieldAccept"></q-btn>
        <q-btn :icon="fasX" @click="OnFieldCancel"></q-btn>
    </div>

    <div v-else class="fieldsgrid">

        <!-- fields as cards -->
        <dyndb-document-fields v-model:document="curDocument" :mode="props.mode"
            @clicked="OnCardClicked"></dyndb-document-fields>

        <!-- subdocs -->
        <dyndb-document-subcards :embedded="subDocuments" :mode="props.mode"></dyndb-document-subcards>

        <!-- Add a new field -->
        <div v-if="(mode === 'edit' && document._dyndb_templatename !== 'dyndb_template') || (mode === 'layout')"
            class="doccard">
            <dyndb-field-add :current-fields="Object.keys(curDocument)" style="grid-column: span 3;"
                @add="AddField"></dyndb-field-add>
        </div>

    </div>



</template>

<script lang="ts" setup>
// vue
import { type PropType, onMounted, ref, watch, onUnmounted, type UnwrapNestedRefs, reactive } from 'vue'

// stores
import { ButtonbarStack, useButtonbarStore } from '@/stores/buttonbar'

// components
import { fasCheck, fasTrashCan, fasX } from '@quasar/extras/fontawesome-v6'
import DyndbDocumentFields, { type DocumentValues } from './dyndb-document-fields.vue'
import DyndbDocumentSubcards from './dyndb-document-subdocs.vue'
import DyndbFieldAdd from '@/components/dyndb/fields/dyndb-field-add.vue'

// composables
import { useFieldComponents } from '../fields/useFieldComponents'
import { useFontAwesome } from '../icons/useFontAwesome'

useFontAwesome()
useFieldComponents()

// api
import api from '@/api'
import type { DocumentAction, JSONSingleDoc } from '@/api/document'
import { IsError } from '@/api/error'
import type { TemplateLayoutField } from '@/api/templates'
import { useDocumentEditorActions } from './useDocumentEditorActions'
import { useDocumentCollectAction } from '../collector/useDocumentCollectAction'
import { GetNativeComponent } from '@/api/globalComponents';


// ########################### props / emits ###########################

const props = defineProps({
    document: {
        type: Object as PropType<JSONSingleDoc>,
        required: true,
        default: {} as JSONSingleDoc
    },
    mode: {
        type: String as PropType<DocumentAction>,
        required: true,
        default: 'view'
    }
})

// ########################### documents ###########################

var curDocument = reactive({} as JSONSingleDoc)

// transfer document from property to local
watch(() => props.document, (newDoc: JSONSingleDoc) => {
    for (const key of Object.keys(curDocument)) {
        delete curDocument[key];
    }
    Object.assign(curDocument, newDoc)
})
onMounted(() => {
    for (const key of Object.keys(curDocument)) {
        delete curDocument[key];
    }
    Object.assign(curDocument, props.document)
})

// ########################### subdocuments ###########################
var subDocuments = ref({} as Record<string, JSONSingleDoc> | undefined)
function subDocumentsUpdate(embeddedDocs: Record<string, JSONSingleDoc> | undefined) {
    if (embeddedDocs === undefined) {
        subDocuments.value = undefined
        return
    }
    subDocuments.value = embeddedDocs
}
watch(curDocument, (newDoc: JSONSingleDoc) => { subDocumentsUpdate(newDoc._embedded) })
onMounted(() => { subDocumentsUpdate(props.document._embedded) })

// ########################### edit single field ###########################

const curDocumentValues = ref(undefined as DocumentValues | undefined)

function OnCardClicked(curValue: DocumentValues) {
    if (props.mode === 'layout' || props.mode === 'view') {
        return
    }
    curDocumentValues.value = curValue
}

function OnFieldCancel() {
    if (curDocumentValues.value === undefined) return
    curDocumentValues.value.value = curDocument[curDocumentValues.value.fieldname]
    curDocumentValues.value = undefined
}

function OnFieldAccept() {
    if (curDocumentValues.value === undefined) return
    curDocument[curDocumentValues.value.fieldname] = curDocumentValues.value.value
    curDocumentValues.value = undefined
}

// ########################### add field ###########################

async function AddField(fieldName: string) {

    // in layout-mode we add it to layout
    if (props.mode === 'layout') {
        if (curDocument._dyndb_layout === undefined) {
            curDocument._dyndb_layout = [{
                fieldName: fieldName
            } as TemplateLayoutField];
        } else {
            curDocument._dyndb_layout.push({
                fieldName: fieldName
            } as TemplateLayoutField)
        }
        return
    }


    let field = await api.fields.Field(fieldName)
    if (field !== undefined) {
        switch (field.datatype) {
            case 'float':
                curDocument[fieldName] = 0.0
                break
            default:
                curDocument[fieldName] = ''
        }
    } else {
        curDocument[fieldName] = ''
    }

}

// ########################### buttons ###########################
var curDocumentRef = ref(props.document as JSONSingleDoc | undefined)
watch(() => props.document, (newDoc: JSONSingleDoc) => {
    curDocumentRef.value = newDoc
})
watch(curDocumentValues, (newvalue: DocumentValues | undefined) => {
    if (newvalue !== undefined) {
        curDocumentRef.value = undefined
    }
})

useDocumentCollectAction('documentedit', curDocumentRef)

useDocumentEditorActions('documentedit', curDocumentRef,
    (action: "saved" | "deleted", item: JSONSingleDoc | undefined) => {
        switch (action) {

            case 'saved':
                if (item !== undefined) {
                    const documentToSave = curDocument
                    const result = api.document.Save(documentToSave)
                    if (!IsError(result)) {
                        api.windows.CloseCurrent()
                    }
                }
                break

            case 'deleted':
                if (document !== undefined) {
                    const result = api.document.Delete(props.document)
                    if (!IsError(result)) {
                        api.windows.CloseCurrent()
                    }
                }
                break
        }

    }
)




</script>

<style scoped>
.fieldsgrid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    gap: 10px 10px;

    margin-top: 15px;
}
</style>