<template>
    <dyndb-data-cards v-model="documentValues" :config="cardConfig" @clicked="OnCardClicked"></dyndb-data-cards>
</template>

<script lang="ts" setup>
// vue
import { type PropType, onMounted, ref, watch, type UnwrapNestedRefs, reactive } from 'vue'

// stores

// components
import { type LayoutEntry } from '../fields/layoutEntry'
import {
    PatchLayoutFromTemplate,
    PatchLayoutFromDocFields,
    PatchLayoutFromDocLayout,
    ToTemplateLayoutFields
} from '../fields/patchLayout'
import DyndbDataCards, { type Badge, type CardProperties } from '@/components/dyndb/common/DataCards.vue'

// composables
import { useFieldComponents } from '../fields/useFieldComponents'
import { useFontAwesome } from '../icons/useFontAwesome'

useFontAwesome()
useFieldComponents()

// api
import type { DocumentAction, JSONSingleDoc } from '@/api/document'
import api from '@/api'



const props = defineProps({
    document: {
        type: Object as PropType<JSONSingleDoc>,
        required: true,
        default: {} as JSONSingleDoc
    },
    mode: {
        type: String as PropType<DocumentAction>,
        required: true,
        default: 'view'
    }
})

const emits = defineEmits(['clicked', 'update:document'])

// ########################### documents ###########################

const curDocument = reactive({} as JSONSingleDoc)
watch(props.document, (newDoc: JSONSingleDoc) => {
    Object.assign(curDocument, newDoc)
})
onMounted(() => {
    Object.assign(curDocument, props.document)
})


// ########################### layout ###########################

var layoutEntrys = ref([] as LayoutEntry[])

async function layoutEntrysUpdate(curDoc: JSONSingleDoc) {

    //const curDoc = Object.assign({}, newDoc)

    // request fields if not there
    await api.fields.FieldsByName(["faicon", "displayText"])

    // default for all documents
    let newLayoutEntrys: LayoutEntry[] = [
        {
            field: await api.fields.Field("faicon"),
        } as LayoutEntry,
        {
            field: await api.fields.Field("displayText"),
        } as LayoutEntry,
    ]

    // read fields
    switch (props.mode as DocumentAction) {
        case 'view':
        case 'edit':
        case 'delete':
            newLayoutEntrys = await PatchLayoutFromTemplate(newLayoutEntrys, curDoc._dyndb_templatename)
            newLayoutEntrys = await PatchLayoutFromDocFields(newLayoutEntrys, props.document)

            if (curDoc._dyndb_templatename !== 'dyndb_template') {
                newLayoutEntrys = await PatchLayoutFromDocLayout(newLayoutEntrys, curDoc._dyndb_layout)
            }

            break
        case 'layout':
            newLayoutEntrys = await PatchLayoutFromDocLayout(newLayoutEntrys, curDoc._dyndb_layout)

            break
    }

    layoutEntrys.value = newLayoutEntrys

    //curDoc._dyndb_layout = await ToTemplateLayoutFields(newLayoutEntrys)
    //emits('update:document', curDoc)
}
watch(curDocument, (newDoc: JSONSingleDoc | undefined) => {
    if (newDoc === undefined) { return }
    layoutEntrysUpdate(newDoc)
})


// ########################### cards ###########################
export interface DocumentValues {
    fieldname: string
    displayText: string
    faicon: string
    value: any
    datatype: string
    unit: string
}

var documentValues = ref([] as DocumentValues[])

const cardConfig = {
    faIconFieldName: 'faicon',
    titleFieldName: 'displayText',
    textFieldName: (docValues: DocumentValues): string => {
        switch (docValues.datatype) {

            case 'string':

            case 'faicon':
                if (docValues.value !== undefined) {
                    return docValues.value as string
                } else {
                    return ""
                }

            case 'integer':
                let integerString = "0"

                if (docValues.value !== undefined) {
                    integerString = docValues.value as string
                }
                if (docValues.unit !== undefined) {
                    integerString += ` ${docValues.unit}`
                }

                return integerString

            case 'float':
                let floatString = "0.0"

                if (docValues.value !== undefined) {
                    floatString = docValues.value as string
                }
                if (docValues.unit !== undefined) {
                    floatString += ` ${docValues.unit}`
                }

                return floatString

            case 'datatype':
                if (docValues.value !== undefined) {
                    return docValues.value as string
                } else {
                    return "not set"
                }

            case 'date':
                if (docValues.value !== undefined) {
                    return new Date(docValues.value).toLocaleDateString()
                } else {
                    return ""
                }

            // case 'faicon':
            //     return fontawesome[value.value]
            default:
                return `<can not display ${docValues.datatype}>`
                return docValues.value.value as string
        }
    },
    badges: (docValues: DocumentValues): Badge[] => {
        return [
            {
                color: 'amber-10',
                displayText: "field",
            }
        ] as Badge[]
    }
} as CardProperties



function documentValuesUpdate(layoutEntrys: LayoutEntry[]) {
    // build values
    let newDocumentValues = [] as DocumentValues[]
    for (let layoutEntry of layoutEntrys) {

        // hide empty datatypes
        if (layoutEntry.field.datatype === '') {
            continue
        }

        newDocumentValues.push({
            fieldname: layoutEntry.field.fieldName,
            displayText: layoutEntry.field.displayText,
            faicon: layoutEntry.field.faicon,
            value: curDocument[layoutEntry.field.fieldName],
            datatype: layoutEntry.field.datatype,
            unit: layoutEntry.field.unit,
        } as DocumentValues)
    }
    documentValues.value = newDocumentValues
}

watch(() => layoutEntrys.value, (layoutEntrys: LayoutEntry[]) => {
    documentValuesUpdate(layoutEntrys)
})



function OnCardClicked(curValue: DocumentValues) {
    emits('clicked', curValue)
}




</script>

<style scoped>
.fieldsgrid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    gap: 10px 10px;

    margin-top: 15px;
}
</style>