<template>
  <div
    class="appgrid"
    style="align-self: center; place-self: center; padding: 15px 15px 15px 15px; min-width: 400px"
  >
    <q-input square filled v-model="tenant" type="text" label="Tenant" />
    <q-input
      square
      filled
      v-model="username"
      :autofocus="username.length === 0"
      type="text"
      autocomplete="username"
      label="Username"
    />
    <q-input
      square
      filled
      v-model="password"
      :autofocus="password.length === 0"
      type="password"
      autocomplete="current-password"
      label="Passwort"
    />

    <q-btn
      unelevated
      color="light-green-7"
      size="lg"
      class="full-width"
      label="Login"
      no-caps
      @click="loginClicked"
    />
  </div>
</template>

<script lang="ts" setup>
// vue
import { ref, watch } from 'vue'

// api
import api from '@/api'

// stores
import { useConfigStore } from '@/stores/config'
import { useLoginStore } from '@/stores/login'

// ########################### props ###########################
const props = defineProps({})

// ######################## Tenant ########################
if (localStorage.tenant === undefined) {
  localStorage.tenant = 'default'
}
const tenant = ref(localStorage.tenant as string)
watch(tenant, (newValue: string) => {
  localStorage.tenant = newValue
})

// ######################## Username ########################

if (localStorage.username === undefined) {
  localStorage.username = ''
}
const username = ref(localStorage.username)
watch(username, (newValue: string) => {
  localStorage.username = newValue
})

// ######################## Password ########################

const password = ref('')

// ######################## Actions ########################

async function loginClicked() {
  await api.auth.LogIn(tenant.value, username.value, password.value)
}

// ######################## Reactions ########################

const loginstore = useLoginStore()
loginstore.$subscribe((mutation, state) => {
  if (state.loggedin !== undefined) {
    if (state.loggedin === true) {
      api.notifications.Sucess('login.success')
    }
  }
})
</script>

<style scoped></style>
