.app {
  color: rgb(165, 165, 165);
}

.app {
  color: black;
  background-image: url('./background.jpg');
  background-size: cover;
  background-position: center;
}

.menu {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(7px);
}

.mainarea {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7px);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7px);
}

.overlay .window {
  background-color: rgba(255, 255, 255, 0.548);
  backdrop-filter: blur(7px);
}

.overlay .window .title {
  border-color: rgba(0, 0, 0, 0.5);
}

.overlay .window .content {
  border-color: rgba(0, 0, 0, 0.5);
}

.stacked.window {}

.toolbar {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7px);
}

.actionbar {
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(7px);
}

.sidebar {
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(7px);
}

.doccard {
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.12);

  transition: transform 0.5s;
  /* Animation */
}

.doccard:hover {
  /* transform: scale(1.03); */
  border: 1px solid rgba(0, 0, 0, 1);
}

.doccard.selected {
  border-color: black;
  background-color: rgba(255, 255, 255, 0.6);
}

.configcard {
  color: black;
  background-color: rgba(255, 255, 255, 0.4);
  border: 1px solid rgba(0, 0, 0, 0.12);
}

.text-caption {
  color: rgba(0, 0, 0, 0.5);
}

.theme-dark .q-item__label {
  color: rgba(0, 0, 0, 0.5);
}

.q-field__label {
  color: rgba(0, 0, 0, 0.5);
}

.q-field__messages,
.text-caption {
  color: rgba(0, 0, 0, 0.5);
}

.q-field__messages {
  color: rgba(0, 0, 0, 0.5);
}

.q-table__card {
  background-color: unset;
}

.card-menu-themed {
  background-color: rgba(0, 0, 0, 0.5);
}

.q-table__card {
  background-color: unset;
}