<template>
    <div id="attachment-preview-pdf-container" :style="{
        'height': '100%',
        'align-content': 'center',
        'justify-items': 'center',
        'display': 'grid',
    }">
        <VuePdfEmbed :source="pdfSource" :page="pdfPage" :height="pdfHeight" @progress="OnProgress"
            @loaded="OnLoaded" />
    </div>
</template>

<script setup lang="ts">
import { onMounted, ref, watch } from 'vue';

import VuePdfEmbed from 'vue-pdf-embed'

// essential styles
// import 'vue-pdf-embed/dist/style/index.css'

// optional styles
// import 'vue-pdf-embed/dist/style/annotationLayer.css'
// import 'vue-pdf-embed/dist/style/textLayer.css'

const props = defineProps({
    url: {
        type: String,
        required: false,
        default: undefined
    },
    page: {
        type: Number,
        required: false,
        default: 1
    },
})

const emits = defineEmits(["on-state-changed", "on-numbers"])

const pdfHeight = ref(400)
onMounted(() => {
    let DOMRect = document?.getElementById('attachment-preview-pdf-container')?.getBoundingClientRect()
    if (DOMRect?.height !== undefined) {
        pdfHeight.value = DOMRect?.height
    }
})

// either URL, Base64, binary, or document proxy
const pdfSource = ref(undefined as any | undefined)
function pdfSourceLoad(url: string | undefined) {
    if (url === undefined) {
        emits("on-state-changed", "No URL")
        return
    }
    pdfSource.value = url
    emits("on-state-changed", "Loading ...")
}
onMounted(() => { pdfSourceLoad(props.url) })
watch(() => props.url, (newValue: string | undefined) => { pdfSourceLoad(newValue) })

// page
const pdfPage = ref(1)
onMounted(() => { pdfPage.value = props.page })
watch(() => props.page, (newValue: number | undefined) => { pdfPage.value = props.page })


onMounted(() => {
    emits("on-state-changed", "Ready")
})
function OnProgress(value: import("pdfjs-dist/types/src/display/api").OnProgressParameters) {
    emits("on-state-changed", `Loading ${value.loaded} ... ${value.total}`.trim())
}

function OnLoaded(value: import("pdfjs-dist/types/src/display/api").PDFDocumentProxy) {
    emits("on-state-changed", `Loaded`.trim())
    emits("on-numbers", value.numPages)
}

</script>
