<template>
    <dyndb-preview-pdf :url="pdfURL" :page="pdfPage" @on-state-changed="onNewState"
        @on-numbers="onPages"></dyndb-preview-pdf>
</template>

<script setup lang="ts">
import { onMounted, ref, watch, type PropType } from 'vue'
import dyndbPreviewPdf from "./dyndb-preview-pdfembed.vue"
import { useAttachmentPreviewActions } from './useAttachmentPreviewActions';
import type { DynDBAttachmentMetadata } from '@/api/attachment';
import { useDocumentCollectAction } from '../collector/useDocumentCollectAction';

const props = defineProps({
    attachmentMetadata: {
        type: Object as PropType<DynDBAttachmentMetadata>,
        required: true,
        default: {} as DynDBAttachmentMetadata
    },
})

// ########################### components ###########################


// ########################### stores ###########################


// ########################### PDF ###########################
const curMttachmentMetadata = ref({} as DynDBAttachmentMetadata | undefined)
onMounted(() => {
    curMttachmentMetadata.value = props.attachmentMetadata
})
watch(() => props.attachmentMetadata, async (newValue: DynDBAttachmentMetadata | undefined) => {
    curMttachmentMetadata.value = newValue
})


// ########################### PDF ###########################

const pdfURL = ref(undefined as undefined | string)
const pdfState = ref("...")
const pdfPages = ref(0)
const pdfPage = ref(1)

onMounted(() => {
    pdfURL.value = '/api/v1' + props.attachmentMetadata._links.preview
})
watch(() => props.attachmentMetadata, async (newValue: DynDBAttachmentMetadata | undefined) => {
    pdfURL.value = '/api/v1' + newValue?._links?.preview
})

const pdfFullState = ref("")
function pdfFullStateUpdate() {
    pdfFullState.value = pdfPage.value + " of " + pdfPages.value + " :" + pdfState.value

    if (pdfPage.value > 1) {
        prevEnabled.value = true
    } else {
        prevEnabled.value = false
    }

    if (pdfPage.value < pdfPages.value) {
        nextEnabled.value = true
    } else {
        nextEnabled.value = false
    }

}

// ########################### buttonbar ###########################
const prevEnabled = ref(false)
const nextEnabled = ref(false)

useDocumentCollectAction('pdfpreview', curMttachmentMetadata)

useAttachmentPreviewActions(
    'pdfpreview',
    prevEnabled, nextEnabled,
    (action: "prev" | "next") => {
        switch (action) {
            case 'prev':
                pdfPage.value = pdfPage.value - 1
                pdfFullStateUpdate()
                break
            case 'next':
                pdfPage.value = pdfPage.value + 1
                pdfFullStateUpdate()
                break
        }
    }
)


// ########################### state ###########################
function onPages(pages: number) {
    pdfPages.value = pages
    pdfFullStateUpdate()
}
function onNewState(newState: string) {
    pdfState.value = newState
    pdfFullStateUpdate()
}

</script>
