<template>
    <div class="appgrid" style="align-self: center; place-self: center; padding: 15px 15px 15px 15px; min-width: 400px">
        <span class="text-h4">Attachment</span>
        <span class="text-body1">{{ props.metadata?.displayText }}</span>


        <q-btn unelevated color="light-green-7" size="lg" class="full-width" label="Cancel" no-caps :icon="fasXmark"
            @click="DoClose" />
        <q-btn unelevated color="yellow-10" size="lg" class="full-width" label="Delete" no-caps :icon="fasTrash"
            :disable="props.metadata?._links.delete === undefined" @click="DoDelete" />

    </div>
</template>

<script lang="ts" setup>
// vue
import { type PropType } from 'vue'

// api
import api from '@/api'

// stores
import type { DynDBAttachmentMetadata } from '@/api/attachment';
import { fasTrash, fasXmark } from '@quasar/extras/fontawesome-v6';

// props
const props = defineProps({
    metadata: {
        type: Object as PropType<DynDBAttachmentMetadata>,
        required: false,
        default: undefined
    },
})

function DoClose() {
    api.windows.Close('/attachment/delete')
}

async function DoDelete() {
    let result = await api.attachments.Delete(props.metadata?._links.delete)
    if (result === true) {
        api.attachments.FetchRecent()
    }
    api.windows.Close('/attachment/delete')
}

</script>

<style scoped></style>