<template>
    <div class="layout">
        <dyndb-data-cards v-model="attachments" :config="cardConfig" @selected="OnCardSelected"></dyndb-data-cards>
        <dyndb-upload link-upload="/attachment" @uploaded="OnUploaded" style="width: 100%;"></dyndb-upload>
    </div>
</template>

<script lang="ts" setup>
// vue
import { onMounted, ref } from 'vue'
import { type SubscriptionCallbackMutation } from 'pinia'
import api from '@/api';

import dyndbUpload from "@/components/dyndb/attachments/upload.vue"
import { useDocumentsStore, type DocumentsStoreState } from '@/stores/documents';
import type { DynDBAttachmentMetadata } from '@/api/attachment';

// components
import DyndbDataCards, { type CardProperties } from '@/components/dyndb/common/DataCards.vue'
import { useAttachmentActions } from './useAttachmentActions';
import { useDocumentCollectAction } from '../collector/useDocumentCollectAction';

// ########################### components ###########################

// ########################### stores ###########################
const documentsStore = useDocumentsStore()


// ########################### attachments ###########################
const attachments = ref([] as DynDBAttachmentMetadata[])
const cardConfig = {
    faIconFieldName: 'faicon',
    textFieldName: 'displayText',
} as CardProperties

documentsStore.$subscribe(
    (mutation: SubscriptionCallbackMutation<DocumentsStoreState>, state: DocumentsStoreState) => {
        attachments.value = Array.from(Object.values(state.allDocuments)) as DynDBAttachmentMetadata[]
    }
)

onMounted(() => {
    api.attachments.FetchRecent()
})
function OnUploaded() {
    api.attachments.FetchRecent()
}



// ########################### buttonbar ###########################
const currentMetadata = ref({} as DynDBAttachmentMetadata | undefined)
currentMetadata.value = undefined

useAttachmentActions('attachments', currentMetadata)
useDocumentCollectAction('attachments', currentMetadata)

// ########################### actions ###########################
async function OnCardSelected(card: DynDBAttachmentMetadata, index: number) {
    if (index === -1) {
        currentMetadata.value = undefined
    } else {
        currentMetadata.value = card
    }
}


</script>

<style scoped>
.layout {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    gap: 10px 10px;

    margin-top: 15px;
}
</style>