<template>
  <q-uploader v-if="linkUpload !== undefined" :url="GetUploadURL" method="POST" label="Upload" multiple batch
    @uploaded="OnUploadFinished" no-thumbnails :style="{
    'background-color': 'transparent'
  }" />

</template>

<script lang="ts" setup>
// vue
import api from '@/api'

// ########################### props ###########################
const props = defineProps({
  linkUpload: {
    type: String,
    require: false
  }
})

const emits = defineEmits(["uploaded"])

function GetUploadURL(): string {
  let fullURL = api.request.BaseURL() + '' + props.linkUpload
  return fullURL
}

function OnUploadFinished() { emits("uploaded") }

function factoryFn(files: readonly File[]) {
  // returning a Promise 
  return api.attachments.Upload("/attachment", files)
}
</script>

<style scoped>
/* .q-uploader {
  width: unset !important;
} */
</style>
